/*This will be affect all the elements in login.html and register.html*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*I putted a default font and a background image in login.html and register.html*/
body{
    font-family: arial;
    background-image: url(/img/fondo.avif);
}

/*The next design will afect only one section in login.html*/
.login{
    border-radius: 50px;
    width: 400px;
    height: 340px;
    background: #373837;
    margin: auto;
    margin-top: 300px;
    box-shadow: 15px 20px 50px #000;
    padding: 20px 30px;
    color: white;
}

/*The next design will afect only one section in register.html*/
.register{
    border-radius: 50px;
    width: 500px;
    height: 580px;
    margin: auto;
    margin-top: 130px;
    box-shadow: 15px 20px 50px #000;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter:(10px);
    padding: 30px 30px;
}

/*The next design will afect only one section to come back to the index in login.html*/
.back{
    margin: 10px;
}

/*The next design will afect only one section to come back to the index in register.html*/
.back_reg{
    margin-top: -650px;
    margin-left: 5px;
}

/*This design will affect only the titles with the tag h5 in the section login*/
.login h5{
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}

/*This design will affect the title in register.html*/
.titles{
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
    color: white;
}

/*This design will affect some inputs with the class controls in login.html and register.html*/
.controls{
    width: 100%;
    border: 1px solid #257945;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #252323;
    font-size: 14px;
    font-weight: bold;
    color: rgb(31, 158, 15);
}

/*This design will affect some inputs with the class buttons in login.html and register.html*/
.buttons{
    border-radius: 10px;
    width: 100%;
    height: 40px;
    background: #257945;
    border: none;
    color:white;
    margin-bottom: 16px;
    cursor: pointer;
}

.buttons:hover {
    background: linear-gradient(135deg, rgba(82, 183, 136, 0.8), rgba(22, 138, 173, 0.6));
}

/*This design will affect the button for coming back to the index in login.html and register.html*/
.g_back{
    border-radius: 50px;
    width: 110px;
    height: 40px;
    background: #257945;
    border: none;
    color: white;
    cursor: pointer;
}

.g_back:hover {
    background: rgb(97, 97, 97);
    width: 115px;
    height: 45px;
    margin-bottom: -5px;
}

/*This design will affect the stuff with the tag p in login.html*/
/* .login p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
} */

/*This design will affect the tag a in login.html*/
.login a input{
    color: white;
    text-decoration: none;
    font-size: 15px;
}

/*This design will affect the tag a when the mouse is going over it in login.html*/
.login a:hover{
    text-decoration: underline;
}

/*This design will affect the tag input type date*/
.dates{
    height: 35px;
    width: 130px;
    font-size: medium;
    margin-left: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #257945;
    text-align: center;
    background: #252323;
    border: 1px solid #257945;
    color: rgb(31, 158, 15);
}

/*This design will affect the label next to the input type date in register.html*/
.l_birth{
    width: 90px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: #3abe2e;
    text-align: center;
    border-radius: 10px;
}

.bottom__buttons a {
    color: #4493f8;
    text-decoration: none;
    font-size: 15px;
}

#register a {
    margin-left: 5px;
    color: #4493f8;
    text-decoration: none;
    font-size: 15px;
}

#register a:hover {
    text-decoration: underline;
}

.button_forget {
    margin: 10px;
    display: block;
    text-align: center;
}

#register {
    text-align: center;
}

.register__text {
    display: inline;
    color: #ffffff;
}

.register__link {
    display: inline;
}