<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>{%block title%}{%endblock%}</title>
</head>
<body class="flez-1 bg-linear-110 from-[#0C0F66] to-[#030426]">

  <nav class="border-b-gray-50/15 border-[0.5px] bg-[#01021F]">
    <div class="w-full flex flex-wrap items-center justify-between px-6 py-2">
    <a href="" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="../static/img/WaterFlow.png" class="w-10 h-10 scale-140 pt-1" alt="Flowbite Logo" />
        <span class="self-center text-2xl font-normal whitespace-nowrap text-white">WaterFlow</span>
    </a>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
        <button type="button" class="text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-4 py-1 text-center bg-blue-800 hover:bg-blue-700 focus:ring-blue-800">Get started</button>
        <button data-collapse-toggle="navbar-cta" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-cta" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1 mr-5" id="navbar-cta">
      <ul class="flex flex-col font-normal py-4 md:p-0 mt-4 border rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 bg-[#01021F] border-gray-700">
        <li>
          <a href="#" class="block py-2 px-3 md:p-0 text-white bg-blue-700 rounded-sm md:bg-transparent md:text-blue-500" aria-current="page">Home</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 md:p-0 rounded-sm md:hover:bg-transparent md:hover:text-blue-500 text-white hover:bg-gray-700 hover:text-white md:dark:hover:bg-transparent border-gray-700">About</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 md:p-0 rounded-sm md:hover:text-blue-500 text-white hover:bg-gray-700 hover:text-white md:hover:bg-transparent border-gray-700">Services</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 md:p-0 rounded-sm md:hover:bg-transparent md:hover:text-blue-500 text-white hover:bg-gray-700 hover:text-white md:dark:hover:bg-transparent border-gray-700">Contact</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>


  <!-- Contenido principal -->
  <main class="grow">
    {% block main %}{% endblock %}
  </main>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <script src="{{ url_for('static', filename='javascript/index.js') }}" ></script>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
          const el = document.getElementById("miElemento")
          el.classList.remove("opacity-0", "-translate-y-8")
          el.classList.add("opacity-100", "translate-y-0", "delay-400")
      })
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
          const el = document.getElementById("miElemento2")
          el.classList.remove("opacity-0", "-translate-y-8")
          el.classList.add("opacity-100", "translate-y-0", "delay-500")
      })
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const text = "WaterFlow nació como una idea para resolver un problema muy común pero que muchas veces ignoramos: el desperdicio de agua causado por fugas causadas por las bajas temperaturas o por simplemente por el desgaste de las tuberias.";
        const el = document.getElementById("typewriter");
        let i = 0;

        function type() {
          if (i < text.length) {
            el.textContent += text.charAt(i);
            i++;
            setTimeout(type, 40);
          }
        }

        type();
      });
    </script>

</body>
</html>