<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <title>{%block title%}{%endblock%}</title>
</head>

<body>
    <header class="bg-gradient-to-r from-sky-500 to-green-500 text-white py-4 px-6 gap-3 w-screen h-24 flex items-center justify-between fixed top-0">
        <div class="flex items-center gap-3">
            <div class="hover:scale-110 hover:transition-transform">
                <a href="/">
                    <img class="size-15" src="{{ url_for('static', filename='img/favicon.ico') }}" alt="Cleanlyfe logo">
                </a>
            </div>
            <div class="text-4xl font-bold">
                <h1>Cleanlyfe</h1>
            </div>
        </div>

        {%block header%}{%endblock%}
    </header>

    <main class="bg-gray-50 dark:bg-gray-900 px-12 h-screen">
        {%block main%}{%endblock%}
    </main>

    <footer>
        {%block footer%}{%endblock%}
    </footer>

    {%block scripts%}{%endblock%}
</body>

</html>