*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fondo{
    width: 110rem;
    height: 42rem;
}

.rectangulo{
    display: flex;
    height: 40rem;
    width: 105rem;
    background-color: rgba(160, 160, 160, 0.2);
    backdrop-filter: blur(10px);
    margin: auto;
    border-radius: 1rem;
    margin-top: 6rem;
}

.container-1{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    justify-content: center;
    /*margin-right: 8rem;
    margin-left: 13rem;
    margin-bottom: 4rem;*/
    margin: auto;
    border: 1px solid;    
}

.container-2{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    justify-items: center;
    /*margin-top: 2rem;*/
    margin: auto;
    border: 1px solid;
}

h1{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
    font-size: 2rem;
}

div{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
}

.prueba{
    width: 18rem;
    height: 2rem;
    padding: 3rem 5rem;
    border: 1px solid;
    border-radius: 30%;
}

select{
    width: 11rem;
    height: 2.1rem;   
    border: 0.5px;
    border-color: reg(100,100,100,05);
    border-radius: 1rem;
    background: rgba(11, 50, 57, 0.1);
}

.title, .title-2{
    text-align: center;
}