.hidric-calculator {
    position: relative;
    top: calc(50% + 2.5rem);
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}

.hidric-calculator__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    /* background-color: rgba(217, 217, 217, 0.1); */
    background: linear-gradient(180deg, rgba(82, 183, 136, 0.8), rgba(22, 138, 173, 0.6));
    box-shadow: 0 3px 12px #000;
    border-radius: 30px;
    padding-block: 2rem;
    padding-inline: 3rem;
}

.hidric-calculator__header {
    padding-inline: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.hidric-calculator__form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 5rem;
}

.hidric-calculator__aside {
    width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hidric-calculator__side-header {
    text-align: center;
}

.hidric-calculator__question-tittle {
    margin-bottom: 1rem;
}

.hidric-calculator__question-options {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.hidric-calculator__question-option {
    font-size: 1.2em;
    line-height: 1.1;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--form-background);
    color: currentColor;
    width: 1.2em;
    height: 1.2em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="radio"]::before {
    content: "";
    width: 0.6em;
    height: 0.6em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #000;

}

input[type="radio"]:checked::before {
    transform: scale(1);
}

.hidric-calculator__side-question {
    position: relative;
}

.hidric-calculator__side-question select {
    appearance: none;
    width: 100%;
    font-size: 1.15rem;
    padding: 0.3em 6em 0.3em 1em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
}

.hidric-calculator__side-question::after{
    --size: 0.3rem;
    content: "";
    position: absolute;
    bottom: 0.85rem;
    right: 1rem;
    pointer-events: none;
}

.hidric-calculator__side-question::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
}

.hidric-calculator__question-option:focus-within {
    color: rgba(49, 113, 83, 0.81);
}

.hidric-calculator__footer {
    width: 100%;
    text-align: center;
}

.hidric-calculator__submit-button {
    width: 40%;
    background-color: rgba(54, 172, 117, 0.9);
    border: none;
}

@media (750px > width) {
    .hidric-calculator {
        position: static;
        top: none;
        left: none;
        transform: none;
        margin: 6rem 0rem 3rem 0rem;
    }

    .hidric-calculator__container {
        gap: 2rem;
    }

    .hidric-calculator__form {
        flex-direction: column;
        gap: 2rem;
    }

    .hidric-calculator__form {
        align-items: center;
    }
}

@media (400px > width) {
    .hidric-calculator__aside {
        width: 17rem;
    }
}

@media (350px > width) {
    .hidric-calculator__container {
        padding-inline: 2rem;
    }

    .hidric-calculator__aside {
        width: 16rem;
    }
}

@media (prefers-color-scheme: dark) {
    .hidric-calculator__container {
        background: none;
        background-color: rgba(217, 217, 217, 0.15);
    }

    .hidric-calculator__form {
        color: #fff;
    }
}