.calculator {
    margin: 6rem 0rem 3rem 0rem; 
    display: flex;
    justify-content: center;
}

.calculator__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    /* background-color: rgba(217, 217, 217, 0.1); */
    background: linear-gradient(180deg, rgba(82, 183, 136, 0.8), rgba(22, 138, 173, 0.6));
    box-shadow: 0 3px 12px #000;
    border-radius: 30px;
    padding-block: 2rem;
    padding-inline: 3rem;
}

.calculator__header {
    padding-inline: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.--header {
    width: 5rem;
    height: 5rem;
    justify-content: center;
}

.calculator__icon{
    font-size: 1.7rem;
    color: black;
}

.calculator__title {
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.calculator__form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 5rem;
}

.--form-electric {
    display: flex;
    gap: 10rem;
}

.--form-electric-1 {
    display: flex;
    gap: 5rem;
    width: 38rem;
}

.calculator__aside {
    width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.--aside-electric {
    width: 30rem;
    padding-left: 1rem;
}

.calculator__side-header {
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 9.5rem;
    border-radius: 10px;
    align-self: center;
}

.calculator__side-title {
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.--side-header-calculator {
    width: 18rem;
}

.calculator__side-check-box {
    width: 22rem;
    display: flex;
    gap: 2.3rem;
}

.--side-check-box {
    gap: 1.5rem;
}

.calculator__question-checks {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    gap: 0.5rem;
}

.calculator__question-check {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 1.2rem;
   /*  font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem; */
}

.calculator_header-questions {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    gap: 0.8rem;
}

.calculator_header-questions-electric {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    gap: 0.8rem;
}

.calculator_header-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 3.4rem;
    border: 0.2rem solid rgba(197, 197, 197, 0.7);
    border-radius: 0.8rem;
}

.calculator__side-icon {
    font-size: 1.5rem;
}

.calculator__question-tittle {
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin-top: 0.4rem;
    margin-bottom: 1rem;
    font-size: 1.46rem;
}

.calculator__question-options {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.calculator__side-question-radio {
    width: 35rem;
}

.calculator__question-option {
    font-size: 1em;
    line-height: 1.1;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.2rem;
}

.calculator__question-option:focus-within {
    color: rgba(255, 255, 255, 0.8);
}

.calculator__question-check:focus-within {
    color: rgba(255, 255, 255, 0.8);
}

/* .active_power {
    width: 16rem;
    height: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.5);
} */

input[type="number"] {
    width: 18rem;
    height: 1.9rem;
    margin-left: 5rem;
    padding-left: 0.9rem;
    font-size: 1.3rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.4);
}

input::placeholder {
    color: #000;
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--form-background);
    color: currentColor;
    width: 1.2em;
    height: 1.2em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="radio"]::before {
    content: "";
    width: 0.6em;
    height: 0.6em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #000;
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

.calculator__side-question {
    position: relative;
}

.calculator__side-question select {
    appearance: none;
    width: 100%;
    font-size: 1.15rem;
    padding: 0.3em 6em 0.3em 1em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.5rem;
    color: #000;
    cursor: pointer;
}

.calculator__side-question::after{
    --size: 0.3rem;
    content: "";
    position: absolute;
    bottom: 0.85rem;
    right: 1rem;
    pointer-events: none;
}

.calculator__side-question::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
}

.calculator__side-question:focus{
    border: none;
    outline: none;
}

.calculator__question-option:focus-within {
    color: rgba(255, 255, 255, 0.8);
}

.calculator__footer {
    position: relative;
    width: 100%;
    text-align: right;
}

.calculator__submit-button {
    width: 15%;
    /* background-color: rgba(54, 172, 117, 0.9); */
    background: rgba(27, 155, 140,0.9);
    border: none;
    /* font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.3rem; */
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.4rem;
    font: bold;
    padding-block: 0.5rem;
}

.--container {
    width: 33rem;
}

.--side-icon {
    margin-top: 0.5rem;
}

.--submit-button {
    width: 25%;
}

.--submit-button-electric-1 {
    width: 17%;
}

.--submit-button-electric-2 {
    width: 20%;
}


.--side-header-size-2 {
    width: 17rem;
}

.--side-question-2 {
    margin-top: 4rem;
}

.--aside-2 {
    width: 30rem;
}

.--side-header-size-3 {
    width: 17rem;
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

.--side-question-3 {
    margin-top: 4rem;
}

.--side-header-size-4 {
    width: 17rem;
}

.--side-header-size-5 {
    width: 14rem;
    font-size: 1.2rem;
}

.--side-icon-5 {
    font-size: 1.7rem;
}

.--icon-1 {
    color: #000;
}

.--side-header-size-energy-1 {
    width: 15rem;
}

.--side-header-size-energy-1-1 {
    width: 13rem;
}

.--side-header-size-energy-1-2 {
    width: 20rem;
}

.--side-header-size-energy-1-3 {
    width: 24rem;
}

.--side-header-size-energy-1-4 {
    width: 15rem;
}

.--side-header-size-energy-1-5 {
    width: 11rem;
}

.--icon-lightning-1 {
    color: rgb(240, 216, 0);
}

.--icon-lightning-2 {
    color: rgb(240, 216, 0);
    font-size: 3rem;
}

.--header-icon-electric {
    width: 4rem;
    height: 4rem;
}

@media (750px > height) {
    .calculator {
        position: static;
        top: none;
        left: none;
        transform: none;
        margin: 6rem 0rem 3rem 0rem;
    }
}

@media (750px > width) {
    .calculator {
        position: static;
        top: none;
        left: none;
        transform: none;
        margin: 6rem 0rem 3rem 0rem;
    }

    .calculator__container {
        gap: 3rem;
    }

    .calculator__form {
        flex-direction: column;
        gap: 3rem;
        align-items: center;
    }

    .calculator__submit-button {
        width: 30%;
    }
}

@media (400px > width) {
    .calculator__aside {
        width: 17rem;
    }
}

@media (350px > width) {
    .calculator__container {
        padding-inline: 2rem;
    }

    .calculator__aside {
        width: 16rem;
    }
}

@media (prefers-color-scheme: dark) {
    .calculator__container {
        background: none;
        background-color: rgba(217, 217, 217, 0.15);
    }

    .calculator__header {
        background-color: rgba(41, 41, 41, 0.3);
        color: #fff;
    }

    .calculator__icon{
        color: aqua; 
    }

    .--icon-lightning-1 {
        color: rgb(255, 230, 0);
    }

    .--icon-lightning-2 {
        color: rgb(240, 216, 0);
    }

    .calculator__title {
        color: rgb(237, 237, 237);
    }

    .calculator__form {
        color: #fff;
    }

    .calculator__question-option {
        font-weight: 300;
    }

    .calculator__question-select {
        color: #fff;
    }

    input[type="radio"]::before {
        content: "";
        width: 0.6em;
        height: 0.6em;
        border-radius: 50%;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em #ffffff;
    }

    .calculator__side-question select {
        background-color: rgba(234, 234, 234, 0.5);
        border: 2px solid rgba(12, 14, 113, 0.3);
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    }

    .calculator__question-option:focus-within {
        color: rgba(176, 176, 176, 0.8);
    }

    .calculator__question-check:focus-within {
        color: rgba(255, 255, 255, 0.8);
    }

    .--icon-1 {
        color: rgb(160, 160, 160);
    }

    .--icon-prodcuts-water {
        color: rgb(0, 110, 255);
    }
}