@import "tailwindcss";

@layer components {
    .card {
        background-color: var(--color-black);
        border-radius: var(--rounded-lg);
        padding: var(--spacing-6);
        box-shadow: var(--shadow-xl);
    }

    .btn_navbar {        
        background-color: var(--color-emerald-400);
        border-radius: var(--rounded-lg);
        padding: var(--spacing-6);
    }
}
