<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/bases/baseStyle-prueba.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
        <title>Test</title>
    </head>
    <body>
        <!--Section separator-->
        <header>
            <nav id="navbar"> <!--A nav that storage the navbar to center it and align it to the top -->
                <div class="navbar__container">
                    <i class="navbar__sidebar-button fa-solid fa-bars"></i>
                    <img src="/static/img/Logo.png" alt="logoImagen" class="logo"> <!--Image of the app's logo-->
                    <h1 class="navbar__title">CleanLyfe</h1> <!--The title of the app-->
                </div> 
                <div class="navbar_user-profile">
                    <a href="#" role="button" class="button">
                        <img src="/static/img/User_icon.png" alt="User" class="user-icon" >
                    </a>
                </div>
            </nav>
            <div class="navbar__colormod"></div><!--The navbar color was changes of site-->
        </header>
        <div id="sidebar"> <!-- div that contains sidebar items -->
            <ul>
                <li class="sidebar__content  --sidebar__top-color --sidebar"> <!-- Button to open/close sidebar -->
                    <i role="button" class="fa-solid fa-bars sidebar__button"></i>
                </li>
                <li class="sidebar__content">
                    <a role="button" class="sidebar__button-link" href="/templates/index.html">Home</a> <!-- ref to the home page -->
                </li>
                <li class="sidebar__content">
                    <a role="button" class="sidebar__button-link" href="/templates/misions.html">Misions</a> <!-- ref to the missions page -->
                </li>
                <li role="button" class="sidebar__content">
                    <a class="sidebar__button-link" href="">About</a> <!-- ref to the about page -->
                </li>
                <li role="button" class="sidebar__content">
                    <a class="sidebar__button-link" href="">Contact</a> <!-- ref to the contact page -->
                </li>
            </ul>
        </div>
        <div id="user-options">
            <ul class="user-options__container">
                <li class="user-options__content">
                    <section class="user-options__profile">
                        <img src="/static/img/User_icon.png" alt="User" class="user-icon" >
                        <h1>User</h1>
                    </section>
                </li>
                <li class="user-options__content --button-hover">
                    <a role="button" class="user-options__button">
                        <i class="fa-solid fa-user"></i>
                        <p>Your profile</p>
                    </a>
                </li>
                <li class="user-options__content --button-hover">
                    <a role="button" class="user-options__button">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <p>Log out</p>
                    </a>
                </li>
            </ul>
        </div>
    </body>
    <script src="/static/javascript/index.js"></script> <!--Script to javascript functions-->
</html> 