{%extends '/layouts/base.html'%}

{% block title%} Water products calculator {% endblock%} 
{%block content%}
Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis tempore rerum inventore excepturi odit necessitatibus sequi, impedit vitae, sunt esse quam eveniet doloremque a labore minus iste eaque dolore cupiditate?
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo sit iste vero laborum modi accusantium reiciendis commodi eius dolores laboriosam enim id consequuntur dolorum, atque quasi, culpa qui quos minima.
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae sit maxime quia officia modi. Praesentium atque quae eligendi aliquam error dolore. Odio ratione quis rerum veritatis delectus dignissimos, porro illum.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab porro magnam aliquam inventore error nobis magni tenetur id excepturi ipsam impedit exercitationem corrupti molestias autem aperiam, dolorem sapiente temporibus eos!
<main>
    <section>
        <form action="/cal_water_products" method="post" class="">
            <h3>How many liters of water did you consume this week?</h3>
            <input type="number" name="water_consumed" placeholder="Liters" required> 

            <h3>What percentage of that water do you heat?</h3>
            <input type="number" name="water_heated_percentage" placeholder="Without % symbol" required>

            <div>
                <label for="heater_type_2">
                    <input type="radio" name="heater_type" id="heater_type_2" value="2" required>Heating with LP gas  
                </label>
                <label for="heater_type_3">
                    <input type="radio" name="heater_type" id="heater_type_3" value="3">Heating with natural gas 
                </label>
                <label for="heater_type_4">
                    <input type="radio" name="heater_type" id="heater_type_4" value="4">Heating with electricity
                </label>
                <label for="heater_type_5">
                    <input type="radio" name="heater_type" id="heater_type_5" value="5">Water was not heated
                </label>
            </div>
            <input type="submit" value="FINISH">
        </form>
    </section>
</main>
{%endblock%}