{%extends '/layouts/base.html' %}
{%block css%}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Itim&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/cal_Style.css') }}">
{%endblock%}
{% block title %} Water calculator {% endblock %}
{% block content %}

<main class="calculator">

    <form action="/hidric_cal_4" method="POST" class="calculator__container --container">

        <section class="calculator__form">

            <article class="calculator__aside">

                <header class="calculator__side-header --side-header-size-4">
                    <i class="fa-solid fa-house-chimney calculator__side-icon"></i>
                    <h2 class="calculator__side-title">Cleaning house</h2>
                </header>

                <section class="calculator__side-question">
                    <h3 class="calculator__question-tittle">How many times do you mop per day?</h3>
                    <select class="calculator__question-select" name="mop_times">
                        <option class="calculator__select-option" value="0">0 time</option>
                        <option class="calculator__select-option" value="1">1 time</option>
                        {% for i in range(2, 21) %}
                        <option class="calculator__select-option" value="{{ i }}">{{ i }} times</option>
                        {% endfor %}
                    </select>
                </section>

                <section class="calculator__side-question">
                    <h3 class="calculator__question-tittle">How many buckets do you use per mopping?</h3>
                    <select class="calculator__question-select" name="buckets_number">
                        <option class="calculator__select-option" value="0">0 bucket</option>
                        <option class="calculator__select-option" value="1">1 bucket</option>
                        {% for i in range(2, 21) %}
                        <option class="calculator__select-option" value="{{ i }}">{{ i }} buckets</option>
                        {% endfor %}
                    </select>
                </section>

                <section class="calculator__side-question">
                    <h3 class="calculator__question-tittle">How many liters does your bucket hold?</h3>
                    <select class="calculator__question-select" name="liters_bucket">
                        <option class="calculator__select-option" value="0">0 liter</option>
                        <option class="calculator__select-option" value="1">1 liter</option>
                        {% for i in range(2, 31) %}
                        <option class="calculator__select-option" value="{{ i }}">{{ i }} liters</option>
                        {% endfor %}
                    </select>
                </section>
                
            </article>

        </section>

        <footer class="calculator__footer">
            <input class="calculator__submit-button --submit-button button" type="submit" value="NEXT">
        </footer>

    </form>

</main>

{% endblock %}