{%extends '/layouts/base.html'%}
{%block css%}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Itim&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/cal_Style.css') }}">
{%endblock%}
{% block title%}Carbon Products{% endblock%} 
{%block content%}
<main class="calculator">

    <form action="/cal_carbon_products" method="POST" class="calculator__container">

        <header class="calculator__header">
            <i class="fa-solid fa-store calculator__icon --icon-carbon"></i>
            <h1 class="calculator__title">Carbon Products</h1>
        </header>

        <section class="calculator__form --form-carbon">

            <article class="calculator__aside --aside-carbon">

                <header class="calculator__side-header">
                    <i class="fa-solid fa-pizza-slice calculator__side-icon"></i>
                    <h2 class="calculator__side-title">Food</h2>
                </header>

                <section class="calculator__side-question-radio">
                    <h3 class="calculator__question-tittle">How did you get meat?</h3>
                    <div class="calculator__question-options">
                        <label for="wash-1" class="calculator__question-option">
                            <input type="radio" name="meat_transport" id="wash-1" value="1">
                            Local
                        </label>
                        <label for="wash-2" class="calculator__question-option">
                            <input type="radio" name="meat_transport" id="wash-2" value="2">
                            Regional
                        </label>
                        <label for="wash-3" class="calculator__question-option">
                            <input type="radio" name="meat_transport" id="wash-3" value="3">
                            National
                        </label>
                        <label for="wash-4" class="calculator__question-option">
                            <input type="radio" name="meat_transport" id="wash-4" value="4">
                            International
                        </label>
                    </div>

                </section>

                <section class="calculator__side-question-radio">
                    <h3 class="calculator__question-tittle">How was it packaged?</h3>
                    <div class="calculator__question-options">
                        <label for="wash-5" class="calculator__question-option">
                            <input type="radio" name="meat_packaging" id="wash-5" value="5">
                            Without packaging
                        </label>
                        <label for="wash-6" class="calculator__question-option">
                            <input type="radio" name="meat_packaging" id="wash-6" value="6">
                            Minimum packaging
                        </label>
                        <label for="wash-7" class="calculator__question-option">
                            <input type="radio" name="meat_packaging" id="wash-7" value="7">
                            Excessive packaging
                        </label>

                    </div>

                </section>

                <section class="calculator__side-question-radio">
                    <h3 class="calculator__question-tittle">How was it refrigerated?</h3>
                    <div class="calculator__question-options">
                        <label for="wash-8" class="calculator__question-option">
                            <input type="radio" name="meat_refrigeration" id="wash-8" value="8">
                            Ambient temperature
                        </label>
                        <label for="wash-9" class="calculator__question-option">
                            <input type="radio" name="meat_refrigeration" id="wash-9" value="9">
                            Refrigerated
                        </label>
                        <label for="wash-10" class="calculator__question-option">
                            <input type="radio" name="meat_refrigeration" id="wash-10" value="10">
                            Frozen
                        </label>
                    </div>
                </section>

                <section class="calculator__side-question">
                    <div class="calculator_header-questions">
                        <div class="calculator_header-icon">
                            <i class="fa-solid fa-cow calculator__side-icon--side-icon-5"></i>
                        </div>
                        <h3 class="calculator__question-tittle">How many kg of cowmeat did you consume?</h3>
                    </div>
                    <select class="calculator__question-select" name="cow_meat_kg">
                        <option class="calculator__select-option" value="0">0 kg<option>
                        <option class="calculator__select-option" value="1">1 kg<option>
                        {% for i in range(2, 11) %}
                        <option class="calculator__select-option" value="{{ i }}">{{i }} kg</option>
                        {% endfor %}
                    </select>
                </section>

                <section class="calculator__side-question">
                    <div class="calculator_header-questions">
                        <div class="calculator_header-icon">
                            <i class="fa-solid fa-bacon alculator__side-icon --side-icon-5"></i>
                        </div>
                        <h3 class="calculator__question-tittle">How many kg of pork meat did you consume?</h3>
                    </div>
                    <select class="calculator__question-select" name="pork_meat_kg">
                        <option class="calculator__select-option" value="0">0 kg</option>
                        <option class="calculator__select-option" value="1">1 kg</option>
                        {% for i in range(2, 11) %}
                        <option class="calculator__select-option" value="{{ i }}">{{ i }} kg</option>
                        {% endfor %}
                    </select>
                </section>

                <section class="calculator__side-question">
                    <div class="calculator_header-questions">
                        <div class="calculator_header-icon">
                            <i class="fa-solid fa-drumstick-bite alculator__side-icon --side-icon-5"></i>
                        </div>
                        <h3 class="calculator__question-tittle">How many kg of chicken meat did you consume?</h3>
                    </div>
                    <select class="calculator__question-select" name="chicken_meat_kg">
                        <option class="calculator__select-option" value="0">0 kg</option>
                        <option class="calculator__select-option" value="1">1 kg</option>
                        {% for i in range(2, 11) %}
                        <option class="calculator__select-option" value="{{ i }}">{{ i }} kg</option>
                        {% endfor %}
                    </select>
                </section>

            </article>

            <article class="calculator__aside --aside-carbon">

                <header class="calculator__side-header">
                    <i class="fa-solid fa-ice-cream calculator__side-icon"></i>
                    <h2 class="calculator__side-title">Dairy</h2>
                </header>

                <section class="calculator__side-question-radio">
                    <h3 class="calculator__question-tittle">How did you get dairy products?</h3>
                    <div class="calculator__question-options">
                        <label for="dairy_1" class="calculator__question-option">
                            <input type="radio" name="dairy_transport" id="dairy_1" value="1">
                            Local
                        </label>
                        <label for="dairy_2" class="calculator__question-option">
                            <input type="radio" name="dairy_transport" id="dairy_2" value="2">
                            Regional
                        </label>
                        <label for="dairy_3" class="calculator__question-option">
                            <input type="radio" name="dairy_transport" id="dairy_3" value="3">
                            National
                        </label>
                        <label for="dairy_4" class="calculator__question-option">
                            <input type="radio" name="dairy_transport" id="dairy_4" value="4">
                            International
                        </label>
                    </div>
                </section>

                <section class="calculator__side-question-radio">
                    <h3 class="calculator__question-tittle">How was it packaged?</h3>
                    <div class="calculator__question-options">
                        <label for="dairy_5" class="calculator__question-option">
                            <input type="radio" name="dairy_packaging" id="dairy_5" value="5">
                            Without packaging
                        </label>
                        <label for="dairy_6" class="calculator__question-option">
                            <input type="radio" name="dairy_packaging" id="dairy_6" value="6">
                            Minimum packaging
                        </label>
                        <label for="dairy_7" class="calculator__question-option">
                            <input type="radio" name="dairy_packaging" id="dairy_7" value="7">
                            Excessive packaging
                        </label>
                    </div>
                </section>

                <section class="calculator__side-question-radio">
                    <h3 class="calculator__question-tittle">How was it refrigerated?</h3>
                    <div class="calculator__question-options">
                        <label for="dairy_8" class="calculator__question-option">
                            <input type="radio" name="dairy_refrigeration" id="dairy_8" value="8">
                            Ambient temperature
                        </label>
                        <label for="dairy_9" class="calculator__question-option">
                            <input type="radio" name="dairy_refrigeration" id="dairy_9" value="9">
                            Refrigerated
                        </label>
                        <label for="dairy_10" class="calculator__question-option">
                            <input type="radio" name="dairy_refrigeration" id="dairy_10" value="10">
                            Frozen
                        </label>
                    </div>
                </section>

                <section class="calculator__side-question">
                    <div class="calculator_header-questions">
                        <div class="calculator_header-icon">
                            <i class="fa-solid fa-glass-water calculator__side-icon --side-icon-5"></i>
                        </div>
                        <h3 class="calculator__question-tittle">How many milk liters did you consume?</h3>
                    </div>
                    <select class="calculator__question-select" name="milk_liters">
                        <option class="calculator__select-option" value="0">0 liters</option>
                        <option class="calculator__select-option" value="1">1 liter</option>
                        {% for i in range(2, 16) %}
                        <option class="calculator__select-option" value="{{ i }}">{{ i }} liters</option>
                        {% endfor %}
                    </select>
                </section>

                <section class="calculator__side-question">
                    <div class="calculator_header-questions">
                        <div class="calculator_header-icon">
                            <i class="fa-solid fa-cheese calculator__side-icon --side-icon-5"></i>
                        </div>
                        <h3 class="calculator__question-tittle">How many kg of cheese did you consume?</h3>
                    </div>
                    <select class="calculator__question-select" name="cheese_kg">
                        <option class="calculator__select-option" value="0">0 kg</option>
                        <option class="calculator__select-option" value="1">1 kg</option>
                        {% for i in range(2, 16) %}
                        <option class="calculator__select-option" value="{{ i }}">{{ i }} kg</option>
                        {% endfor %}
                    </select>
                </section>

            </article>

            <article class="calculator__aside --aside-carbon">

                <header class="calculator__side-header">
                    <i class="fa-solid fa-apple-whole calculator__side-icon"></i>
                    <h2 class="calculator__side-title">Fruits</h2>
                </header>

                <section class="calculator__side-question-radio">
                    <h3 class="calculator__question-tittle">How did you get fruit?</h3>
                    <div class="calculator__question-options">
                        <label for="food_1" class="calculator__question-option">
                            <input type="radio" name="fruits_transport" id="food_1" value="1">
                            Local
                        </label>
                        <label for="food_2" class="calculator__question-option">
                            <input type="radio" name="fruits_transport" id="food_2" value="2">
                            Regional
                        </label>
                        <label for="food_3" class="calculator__question-option">
                            <input type="radio" name="fruits_transport" id="food_3" value="3">
                            National
                        </label>
                        <label for="food_4" class="calculator__question-option">
                            <input type="radio" name="fruits_transport" id="food_4" value="4">
                            International
                        </label>
                    </div>
                </section>

                <section class="calculator__side-question-radio">
                    <h3 class="calculator__question-tittle">How was it packaged?</h3>
                    <div class="calculator__question-options">
                        <label for="food_5" class="calculator__question-option">
                            <input type="radio" name="fruits_packaging" id="food_5" value="5">
                            Without packaging
                        </label>
                        <label for="food_6" class="calculator__question-option">
                            <input type="radio" name="fruits_packaging" id="food_6" value="6">
                            Minimum packaging
                        </label>
                        <label for="food_7" class="calculator__question-option">
                            <input type="radio" name="fruits_packaging" id="food_7" value="7">
                            Excessive packaging
                        </label>
                    </div>
                </section>

                <section class="calculator__side-question-radio">
                    <h3 class="calculator__question-tittle">How was it refrigerated?</h3>
                    <div class="calculator__question-options">
                        <label for="food_8" class="calculator__question-option">
                            <input type="radio" name="fruits_refrigeration" id="food_8" value="8">
                            Ambient temperature
                        </label>
                        <label for="food_9" class="calculator__question-option">
                            <input type="radio" name="fruits_refrigeration" id="food_9" value="9">
                            Refrigerated
                        </label>
                        <label for="food_10" class="calculator__question-option">
                            <input type="radio" name="fruits_refrigeration" id="food_10" value="10">
                            Frozen
                        </label>
                    </div>
                </section>

                <section class="calculator__side-question">
                    <div class="calculator_header-questions">
                        <div class="calculator_header-icon">
                            <i class="fa-solid fa-shop calculator__side-icon --side-icon-5"></i>
                        </div>
                        <h3 class="calculator__question-tittle">How many kg from local production did you consume?</h3>
                    </div>
                    <select class="calculator__question-select" name="local_production_kg">
                        <option class="calculator__select-option" value="0">0 kg</option>
                        <option class="calculator__select-option" value="1">1 kg</option>
                        {% for i in range(2, 11) %}
                        <option class="calculator__select-option" value="{{ i }}">{{ i }} kg</option>
                        {% endfor %}
                    </select>
                </section>

                <section class="calculator__side-question">
                    <div class="calculator_header-questions">
                        <div class="calculator_header-icon">
                            <i class="fa-solid fa-house calculator__side-icon --side-icon-5"></i>
                        </div>
                        <h3 class="calculator__question-tittle">How many kg from greenhouse production did you consume?</h3>
                    </div>
                    <select class="calculator__question-select" name="greenhouse_production_kg">
                        <option class="calculator__select-option" value="0">0 kg</option>
                        <option class="calculator__select-option" value="1">1 kg</option>
                        {% for i in range(2, 11) %}
                        <option class="calculator__select-option" value="{{ i }}">{{ i }} kg</option>
                        {% endfor %}
                    </select>
                </section>

                <section class="calculator__side-question">
                    <div class="calculator_header-questions">
                        <div class="calculator_header-icon">
                            <i class="fa-solid fa-lemon calculator__side-icon --side-icon-5"></i>
                        </div>
                        <h3 class="calculator__question-tittle">How many kg from imported production did you consume?</h3>
                    </div>
                    <select class="calculator__question-select" name="imported_production_kg">
                        <option class="calculator__select-option" value="0">0 kg</option>
                        <option class="calculator__select-option" value="1">1 kg</option>
                        {% for i in range(2, 11) %}
                        <option class="calculator__select-option" value="{{ i }}">{{ i }} kg</option>
                        {% endfor %}
                    </select>
                </section>

            </article>

            <article class="calculator__aside --aside-carbon"> 

                <header class="calculator__side-header">
                    <i class="fa-solid fa-shirt calculator__side-icon"></i>
                    <h2 class="calculator__side-title">Clothes</h2>
                </header>

                <section class="calculator__side-question-radio">
                    <h3 class="calculator__question-tittle">How did you get clothes?</h3>
                    <div class="calculator__question-options">
                        <label for="clothes_1" class="calculator__question-option">
                            <input type="radio" name="clothes_transport" id="clothes_1" value="1">
                            Local
                        </label>
                        <label for="clothes_2" class="calculator__question-option">
                            <input type="radio" name="clothes_transport" id="clothes_2" value="2">
                            Regional
                        </label>
                        <label for="clothes_3" class="calculator__question-option">
                            <input type="radio" name="clothes_transport" id="clothes_3" value="3">
                            National
                        </label>
                        <label for="clothes_4" class="calculator__question-option">
                            <input type="radio" name="clothes_transport" id="clothes_4" value="4">
                            International
                        </label>
                    </div>
                </section>

                <section class="calculator__side-question-radio">
                    <h3 class="calculator__question-tittle">How was it packaged?</h3>
                    <div class="calculator__question-options">
                        <label for="clothes_5" class="calculator__question-option">
                            <input type="radio" name="clothes_packaging" id="clothes_5" value="5">
                            Without packaging
                        </label>
                        <label for="clothes_6" class="calculator__question-option">
                            <input type="radio" name="clothes_packaging" id="clothes_6" value="6">
                            Minimum packaging
                        </label>
                        <label for="clothes_7" class="calculator__question-option">
                            <input type="radio" name="clothes_packaging" id="clothes_7" value="7">
                            Excessive packaging
                        </label>
                    </div>
                </section>

                <section class="calculator__side-question">
                    <div class="calculator_header-questions">
                        <div class="calculator_header-icon">
                            <i class="fa-solid fa-shirt calculator__side-icon --side-icon-5"></i>
                        </div>
                        <h3 class="calculator__question-tittle">How many t-shirts have you bought this week?</h3>
                    </div>
                    <select class="calculator__question-select" name="t_shirt_unit">
                        <option class="calculator__select-option" value="0">0 T-shirt</option>
                        <option class="calculator__select-option" value="1">1 T-shirt</option>
                        {% for i in range(2, 21) %}
                        <option class="calculator__select-option" value="{{ i }}">{{ i }} T-shirts</option>
                        {% endfor %}
                    </select>
                </section>

                <section class="calculator__side-question">
                    <div class="calculator_header-questions">
                        <div class="calculator_header-icon">
                            <i class="fa-solid fa-dollar-sign calculator__side-icon --side-icon-5"></i>
                        </div>
                        <h3 class="calculator__question-tittle">How many denim pants have you bought this week?</h3>
                    </div>
                    <select class="calculator__question-select" name="denim_pants_unit">
                        <option class="calculator__select-option" value="0">0 pants</option>
                        <option class="calculator__select-option" value="1">1 pants</option>
                        {% for i in range(2, 21) %}
                        <option class="calculator__select-option" value="{{ i }}">{{ i }} pants</option>
                        {% endfor %}
                    </select>
                </section>

                <section class="calculator__side-question">
                    <div class="calculator_header-questions">
                        <div class="calculator_header-icon">
                            <i class="fa-solid fa-shoe-prints calculator__side-icon --side-icon-5"></i>
                        </div>
                        <h3 class="calculator__question-tittle">How many shoes have you bought this week?</h3>
                    </div>
                    <select class="calculator__question-select" name="shoes_unit">
                        <option class="calculator__select-option" value="0">0 shoes</option>
                        <option class="calculator__select-option" value="1">1 shoes</option>
                        {% for i in range(2, 11) %}
                        <option class="calculator__select-option" value="{{ i }}">{{ i }} shoes</option>
                        {% endfor %}
                    </select>
                </section>

            </article>

            <article class="calculator__aside --aside-carbon">

                <header class="calculator__side-header">
                    <i class="fa-solid fa-bolt calculator__side-icon"></i>
                    <h2 class="calculator__side-title">Electric</h2>
                </header>

                <section class="calculator__side-question-radio">
                    <h3 class="calculator__question-tittle">How did you get electric products?</h3>
                    <div class="calculator__question-options">
                        <label for="electric_1" class="calculator__question-option">
                            <input type="radio" name="electronic_transport" id="electric_1" value="1">
                            Local
                        </label>
                        <label for="electric_2" class="calculator__question-option">
                            <input type="radio" name="electronic_transport" id="electric_2" value="2">
                            Regional
                        </label>
                        <label for="electric_3" class="calculator__question-option">
                            <input type="radio" name="electronic_transport" id="electric_3" value="3">
                            National
                        </label>
                        <label for="electric_4" class="calculator__question-option">
                            <input type="radio" name="electronic_transport" id="electric_4" value="4">
                            International
                        </label>
                    </div>
                </section>

                <section class="calculator__side-question-radio">
                    <h3 class="calculator__question-tittle">How was it packaged?</h3>
                    <div class="calculator__question-options">
                        <label for="electric_5" class="calculator__question-option">
                            <input type="radio" name="electronic_packaging" id="electric_5" value="5">
                            Without packaging
                        </label>
                        <label for="electric_6" class="calculator__question-option">
                            <input type="radio" name="electronic_packaging" id="electric_6" value="6">
                            Minimum packaging
                        </label>
                        <label for="electric_7" class="calculator__question-option">
                            <input type="radio" name="electronic_packaging" id="electric_7" value="7">
                            Excessive packaging
                        </label>
                    </div>
                </section>

                <section class="calculator__side-question">
                    <div class="calculator_header-questions">
                        <div class="calculator_header-icon">
                            <i class="fa-solid fa-mobile-screen calculator__side-icon --side-icon-5"></i>
                        </div>
                        <h3 class="calculator__question-tittle">How many cellphones have bought this week?</h3>
                    </div>
                    <select class="calculator__question-select" name="cellphone_unit">
                        <option class="calculator__select-option" value="0">0 cellphones</option>
                        <option class="calculator__select-option" value="1">1 cellphone</option>
                        {% for i in range(2, 11) %}
                        <option class="calculator__select-option" value="{{ i }}">{{ i }} cellphones</option>
                        {% endfor %}
                    </select>
                </section>

                <section class="calculator__side-question">
                    <div class="calculator_header-questions">
                        <div class="calculator_header-icon">
                            <i class="fa-solid fa-laptop calculator__side-icon --side-icon-5"></i>
                        </div>
                        <h3 class="calculator__question-tittle">How many laptops have you bought this week?</h3>
                    </div>
                    <select class="calculator__question-select" name="laptop_unit">
                        <option class="calculator__select-option" value="0">0 laptops</option>
                        <option class="calculator__select-option" value="1">1 laptop</option>
                        {% for i in range(2, 11) %}
                        <option class="calculator__select-option" value="{{ i }}">{{ i }} laptops</option>
                        {% endfor %}
                    </select>
                </section>

                <section class="calculator__side-question">
                    <div class="calculator_header-questions">
                        <div class="calculator_header-icon">
                            <i class="fa-solid fa-tv calculator__side-icon --side-icon-5"></i>
                        </div>
                        <h3 class="calculator__question-tittle">How many television have you bought this week?</h3>
                    </div>
                    <select class="calculator__question-select" name="television_unit">
                        <option class="calculator__select-option" value="0">0 tv</option>
                        <option class="calculator__select-option" value="1">1 tv</option>
                        {% for i in range(2, 11) %}
                        <option class="calculator__select-option" value="{{ i }}">{{ i }} tvs</option>
                        {% endfor %}
                    </select>
                </section>

            </article>

            <article class="calculator__aside --aside-carbon">

                <header class="calculator__side-header">
                    <i class="fa-solid fa-hand-sparkles calculator__side-icon"></i>
                    <h2 class="calculator__side-title">Cleaning</h2>
                </header>

                <section class="calculator__side-question-radio">
                    <h3 class="calculator__question-tittle">How did you get products?</h3>
                    <div class="calculator__question-options">
                        <label for="clean_1" class="calculator__question-option">
                            <input type="radio" name="cleaning_transport" id="clean_1" value="1">
                            Local
                        </label>
                        <label for="clean_2" class="calculator__question-option">
                            <input type="radio" name="cleaning_transport" id="clean_2" value="2">
                            Regional
                        </label>
                        <label for="clean_3" class="calculator__question-option">
                            <input type="radio" name="cleaning_transport" id="clean_3" value="3">
                            National
                        </label>
                        <label for="clean_4" class="calculator__question-option">
                            <input type="radio" name="cleaning_transport" id="clean_4" value="4">
                            International
                        </label>
                    </div>
                </section>

                <section class="calculator__side-question-radio">
                    <h3 class="calculator__question-tittle">How was it packaged?</h3>
                    <div class="calculator__question-options">
                        <label for="clean_5" class="calculator__question-option">
                            <input type="radio" name="cleaning_packaging" id="clean_5" value="5">
                            Without packaging
                        </label>
                        <label for="clean_6" class="calculator__question-option">
                            <input type="radio" name="cleaning_packaging" id="clean_6" value="6">
                            Minimum packaging
                        </label>
                        <label for="clean_7" class="calculator__question-option">
                            <input type="radio" name="cleaning_packaging" id="clean_7" value="7">
                            Excessive packaging
                        </label>
                    </div>
                </section>

                <section class="calculator__side-question">
                    <div class="calculator_header-questions">
                        <div class="calculator_header-icon">
                            <i class="fa-solid fa-soap calculator__side-icon --side-icon-5"></i>
                        </div>
                        <h3 class="calculator__question-tittle">How many detergent kg have you bought this week?</h3>
                    </div>
                    <select class="calculator__question-select" name="detergent_kg">
                        <option class="calculator__select-option" value="0">0 kg</option>
                        <option class="calculator__select-option" value="1">1 kg</option>
                        {% for i in range(2, 21) %}
                        <option class="calculator__select-option" value="{{ i }}">{{ i }} kg</option>
                        {% endfor %}
                    </select>
                </section>

                <section class="calculator__side-question">
                    <div class="calculator_header-questions">
                        <div class="calculator_header-icon">
                            <i class="fa-solid fa-jug-detergent calculator__side-icon --side-icon-5"></i>
                        </div>
                        <h3 class="calculator__question-tittle">How many softener liters have you bought this week?</h3>
                    </div>
                    <select class="calculator__question-select" name="softener_lt">
                        <option class="calculator__select-option" value="0">0 liters</option>
                        <option class="calculator__select-option" value="1">1 liters</option>
                        {% for i in range(2, 21) %}
                        <option class="calculator__select-option" value="{{ i }}">{{ i }} liters</option>
                        {% endfor %}
                    </select>
                </section>

                <section class="calculator__side-question">
                    <div class="calculator_header-questions">
                        <div class="calculator_header-icon">
                            <i class="fa-solid fa-jug-detergent calculator__side-icon --side-icon-5"></i>
                        </div>
                        <h3 class="calculator__question-tittle">How many all purpose liters have you bought this week?</h3>
                    </div>
                    <select class="calculator__question-select" name="all_purpose_lt">
                        <option class="calculator__select-option" value="0">0 liters</option>
                        <option class="calculator__select-option" value="1">1 liters</option>
                        {% for i in range(2, 21) %}
                        <option class="calculator__select-option" value="{{ i }}">{{ i }} liters</option>
                        {% endfor %}
                    </select>
                </section>
                
            </article>

        </section>

        <footer class="calculator__footer">
            <input class="calculator__submit-button button" type="submit" value="NEXT">
        </footer>

    </form>

</main>
{%endblock%}