{%extends '/layouts/base.html'%}
{%block css%}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Itim&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/cal_Style.css') }}">
{%endblock%}
{% block title%} Water calculator {% endblock%} 
{%block content%}
<main class="calculator">

    <form action="/hidric_cal_3" method="POST" class="calculator__container">

        <header class="calculator__side-header --side-header-size-3">
            <i class="fa-solid fa-faucet-drip calculator__side-icon"></i>
            <h2 class="calculator__side-title --side-title-3">Water the yard</h2>
        </header>

        <section class="calculator__form">

            <article class="calculator__aside">

                <section class="calculator__side-question-radio">
                    <h3 class="calculator__question-tittle">How do you water the yard?</h3>
                    <div class="calculator__question-options">
                        <label for="type_water1" class="calculator__question-option">
                            <input type="radio" name="watering_type" id="type_water1" value="hose">
                            Hose
                        </label>
                        <label for="type_water2" class="calculator__question-option">
                            <input type="radio" name="watering_type" id="type_water2" value="spraying">
                            Spraying
                        </label>
                        <label for="type_water3" class="calculator__question-option">
                            <input type="radio" name="watering_type" id="type_water3" value="dripping">
                            Dripping
                        </label>
                        <label for="type_water4" class="calculator__question-option">
                            <input type="radio" name="watering_type" id="type_water4" value="bottle">
                            Bottle
                        </label>
                    </div>
                </section> 

                <section class="calculator__side-question">
                    <h3 class="calculator__question-tittle">How many minutes do you water the yard?</h3>
                    <select class="calculator__question-select" name="watering_minutes">
                        <option class="calculator__select-option" value="0">0 minute</option>
                        <option class="calculator__select-option" value="1">1 minute</option>
                        {% for i in range(0, 31) %}
                        <option class="calculator__select-option" value="{{ i }}">{{ i }} minutes</option>
                        {% endfor %}
                    </select>
                </section>

                <section class="calculator__side-question">
                    <h3 class="calculator__question-tittle">How big is your yard? (approximate in square meters)</h3>
                    <select class="calculator__question-select" name="yard_size">
                        <option class="calculator__select-option" value="0">0 square meter</option>
                        <option class="calculator__select-option" value="1">1 square meter</option>
                        {% for i in range(0, 101) %}
                        <option class="calculator__select-option" value="{{ i }}">{{ i }} square meters</option>
                        {% endfor %}
                    </select>
                </section>

                <section class="calculator__side-question">
                    <h3 class="calculator__question-tittle">If you use bottles. How many liters do you use?</h3>
                    <select class="calculator__question-select" name="liters_bottle">
                        <option class="calculator__select-option" value="0">0 liter</option>
                        <option class="calculator__select-option" value="1">1 liter</option>
                        {% for i in range(0, 51) %}
                        <option class="calculator__select-option" value="{{ i }}">{{ i }} liters</option>
                        {% endfor %}
                    </select>
                </section>

            </article>

            <article class="calculator__aside">

                <section class="calculator__side-question --side-question-3">
                    <h3 class="calculator__question-tittle">How often do you water the yard (in a week)</h3>
                    <select class="calculator__question-select" name="times_watering">
                        <option class="calculator__select-option" value="0">0 time</option>
                        <option class="calculator__select-option" value="1">1 time</option>
                        {% for i in range(0, 31) %}
                        <option class="calculator__select-option" value="{{ i }}">{{ i }} times</option>
                        {% endfor %}
                    </select>
                </section>

                <section class="calculator__side-question">
                    <h3 class="calculator__question-tittle">If you water by dripping</h3>
                    <h3 class="calculator__question-tittle">number of drippers</h3>
                    <select class="calculator__question-select" name="drippers_number">
                        <option class="calculator__select-option" value="0">0 dripper</option>
                        <option class="calculator__select-option" value="1">1 dripper</option>
                        {% for i in range(0, 21) %}
                        <option class="calculator__select-option" value="{{ i }}">{{ i }} drippers</option>
                        {% endfor %}
                    </select>
                </section>

                <section class="calculator__side-question-radio">
                    <h3 class="calculator__question-tittle">Flow rate of the drippers</h3>
                    <div class="calculator__question-options">
                        <label for="flow_rate-1" class="calculator__question-option">
                            <input type="radio" name="flow_rate" id="flow_rate-1" value="2">
                            2L per hour
                        </label>
                        <label for="flow_rate-2" class="calculator__question-option">
                            <input type="radio" name="flow_rate" id="flow_rate-2" value="4">
                            4L per hour
                        </label>
                        <label for="flow_rate-3" class="calculator__question-option">
                            <input type="radio" name="flow_rate" id="flow_rate-3" value="8">
                            8L per hour
                        </label>
                        <label for="flow_rate-4" class="calculator__question-option">
                            <input type="radio" name="flow_rate" id="flow_rate-4" value="16">
                            16L per hour
                        </label>
                    </div>
                </section>

            </article>

        </section>

        <footer class="calculator__footer">
            <input class="calculator__submit-button button" type="submit" value="NEXT">
        </footer>

    </form>

</main>
{%endblock%}