{%extends '/layouts/base.html' %}
{% block title %} Water calculator {% endblock %}

{% block content %}
<main class="calculator">
    <form action="/hidric_cal_2" method="POST" class="calculator__container">
        <section class="calculator__form">
            <article class="calculator__aside">
                <header class="calculator__side-header">
                    <i class="fa-solid fa-shower calculator__side-icon"></i>
                    <h2 class="calculator__side-title">Dishes</h2>
                </header>
                <section class="calculator__side-question-radio">
                    <h3 class="calculator__question-tittle">How do you wash the dishes?</h3>
                    <div class="calculator__question-options">
                        <label class="calculator__question-option">
                            <input for="dish-1" type="radio" name="dish_type" id="toilet-1" value="traditional_toilet">
                            Dishwasher
                        </label>
                        <label for="toilet-2" class="calculator__question-option">
                            <input type="radio" name="toilet_type" id="toilet-2" value="water_saving_toilet">
                            Water-Saving toilet
                        </label>
                    </div>
                </section>
            </article>
        </section>
    </form>
</main>
{% endblock %}