<!--inheritance of the base html-->
{% extends 'layouts/base.html' %}
<!--Renferences to extra css-->

<!--title of the page-->
{% block title%}CleanLyfe{% endblock%}

<!--Extra code of the page-->
{%block content%}
<div class="content">
    <img class="content__huella" src="{{ url_for('static', filename='img/Huella.jpg') }}" alt="Imagen de huellas ecologicas">
    <div class="content__description">
        <section class="content__section">
            <h2>Nuestros objetivos:</h2>
            <p>El objetivo es que las personas mentalicen sobre que las acciones diarias de cada uno afectan al medio ambiente y si las personas cambian sus habitos diarios ayuda a cuidar al planeta tierra. Con esto, esta generacion y las futuras generaciones tendran una mejor calidad de vida.</p>
        </section>
        <section class="content__section">
            <h2>Lo que puedes hacer:</h2>
            <p>En CleanLyfe tiene muchas herramientas para disminuir la huella ecololiga. Estas herramientas son:</p>
            <ul class="content__list">
                <li class="content__list-parts">
                    <h4 class="content__subtittle">Medidor</h4>
                    <p class="content__paragraph">Para calcular la huella ecologica se necesita meter todos los datos de las acciones diarias.</p>
                </li>
                <li class="content__list-parts">
                    <h4 class="content__subtittle">Historial</h4>
                    <p class="content__paragraph">Tener un historial de todas las semanas que calcules la huella ecologica.</p>
                </li>
                <li class="content__list-parts">
                    <h4 class="content__subtittle">Consejos</h4>
                    <p class="content__paragraph">Al calcular la huella ecologica. Con los resultados calculados, se dara consejos para reducir en donde mas impacto tenga.</p>
                </li>
            </ul>
        </section>
    </div>
</div>
{%endblock%}
