<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/indexStyles.css"> <!--ref to the css-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
        <title>CleanLyfe</title>
    </head>
    <body>
        <header>
            <nav id="navbar"> <!--A nav that storage the navbar to center it and align it to the top -->
                <div class="sidebar__button --button_navbar"> <!-- Button to open/close sidebar -->
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="navbar__container">
                    <img src="{{ url_for('static', filename='img/Logo.png') }}" alt="logoImagen" class="logo"> <!--Imageof the app's logo-->
                    <h1 class="navbar__title">CleanLyfe</h1> <!--The title of the app-->
                </div> 
                <div class="">
                    <a href="#">
                        <button class="navbar__button --user_icon"></button> <!--This is the button that allows you to see your profile-->
                    </a>
                </div>
            </nav>
            <div class="navbar__colormod"></div>
        </header>
        <div id="sidebar"> <!--div that contains sidebar items-->
            <ul>
                <li class="sidebar__content --sidebar --sidebar_top"> <!-- Button to open/close sidebar -->
                    <i class="fa-solid fa-bars sidebar__button --sidebar --top_button"></i>
                </li>
                <li class="sidebar__content --sidebar_body">
                    <a class="sidebar__link" href="{{ url_for('go_index') }}">Home</a> <!--ref to the home page-->
                </li>
                <li class="sidebar__content --sidebar_body">
                    <a class="sidebar__link" href="{{ url_for('go_missions') }}">Misions</a> <!--ref to the missions page-->
                </li>
                <li class="sidebar__content --sidebar_body">
                    <a class="sidebar__link">About</a> <!--ref to the about page-->
                </li>
                <li class="sidebar__content --sidebar_body">
                    <a class="sidebar__link" href="{{ url_for('go_cleanlyfe') }}">Contact</a> <!--ref to the contact page-->
                </li>
            </ul>
        </div>
        <div class="text">
            <img class="huella" src="{{ url_for('static', filename='img/Huella.jpg') }}" alt="Imagen de huellas ecologicas">
            <div class="description">
                <h2>Nuestros objetivos:</h2>
                <p>El objetivo es que las personas mentalicen sobre que las acciones diarias de cada uno afectan al medio ambiente y si las personas cambian sus habitos diarios ayuda a cuidar al planeta tierra. Con esto, esta generacion y las futuras generaciones tendran una mejor calidad de vida.</p>
                <h2>Lo que puedes hacer:</h2>
                <p>En CleanLyfe tiene muchas herramientas para disminuir la huella ecololiga. Estas herramientas son:</p>
                <dl>
                    <dt>Medidor</dt>
                        <dd>Para calcular la huella ecologica se necesita meter todos los datos de las acciones diarias.</dd>
                    <dt>Historial</dt>
                        <dd>Tener un historial de todas las semanas que calcules la huella ecologica.</dd>
                    <dt>Consejos</dt>
                        <dd>Al calcular la huella ecologica. Con los resultados calculados, se dara consejos para reducir en donde mas impacto tenga.</dd>
                </dl>
            </div>
        </div>
    </body>
    <script src="{{ url_for('static', filename='javascript/index.js') }}"></script> <!--Script to javascript functions-->
</html> 