<!--inheritance of the base html-->
{% extends 'layouts/base.html' %}
<!--Renferences to extra css-->
{%block css%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home_Styles.css') }}">
{% endblock%}
<!--title of the page-->
{% block title%}CleanLyfe{% endblock%}

<!--Extra code of the page-->
{%block content%}
<article class="home">
    <article class="home__container">
        <header class="home__header">
            <h1 class="home__welcome">Welcome back, {{user}}</h1>
            <h2>Your next calculation will be in: 6 days</h2>
        </header>
        <main class="home__body">
            <article class="home__aside">
                <iframe src="{{ grafana_user_history }}" width="675" height="350" frameborder="0" class="home_grafana"></iframe>
                <section class="home_grafana --grafana-section">
                    <h3 class="home__subtittle">Your Last Footprints Records</h3>
                    <div class="grafanas_united">
                        <iframe src="{{ grafana_user_last_carbon }}" width="322" height="380" frameborder="0" class="home_grafana"></iframe>
                        <iframe src="{{ grafana_user_last_hidric }}" width="322" height="380" frameborder="0" class="home_grafana"></iframe>
                    </div>
                </section>
            </article>
            <article class="home__aside --left-side">
                <section class="home__footprint-info">
                    <h3 class="home__subtittle">Carbon Footprint Info</h3>
                    <div class="grafanas_united">
                        <iframe src="{{ grafana_carbon_section }}" frameborder="0" class="home_grafana --manual-size"></iframe>
                        <iframe src="{{ grafana_carbon_footprints }}" frameborder="0" class="home_grafana --manual-size"></iframe>
                    </div>
                </section>
                <section class="home__footprint-info">
                    <h3 class="home__subtittle">Hidric Footprint Info</h3>
                    <div class="grafanas_united">
                        <iframe src="{{ grafana_hidric_section }}" frameborder="0" class="home_grafana --manual-size"></iframe>
                        <iframe src="{{ grafana_hidric_footprints }}" frameborder="0" class="home_grafana --manual-size"></iframe>
                    </div>
                </section>
            </article>
        </main>
    </article>
</article>
{%endblock%}