<!--Path of where is located the base html-->
{% extends 'layouts/base.html' %}

<!--template of the title of the page-->
{% block title%} Missions {% endblock%}
{%block content%}
<br>
<br>
<br>
<br>
<br>

Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias dolor nostrum dolorum repellendus et! Illo quis, voluptas repellendus sed earum voluptate, veritatis, optio deserunt accusamus mollitia hic reprehenderit soluta possimus?
El de producto es {{ final_emission_product }}
{%endblock%}
