<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Itim&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/bases/baseStyle.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
        <title>Index</title>
    </head>
    <body>
        <!--Section separator-->
        <header>
            <nav id="navbar"> <!--A nav that storage the navbar to center it and align it to the top -->
                <div class="navbar__container">
                    <i class="navbar__sidebar-button fa-solid fa-bars"></i>
                    <a class="calculator_title-link" href="{{ url_for('go_main_page') }}"><img src="{{ url_for('static', filename='img/Logo.png') }}" alt="logoImagen" class="logo"></a> <!--Image of the app's logo-->
                    <a class="calculator_title-link" href="{{ url_for('go_main_page') }}"><h1 class="navbar__title">CleanLyfe</h1></a> <!--The title of the app-->
                </div>
                <section class="navbar__container-buttons">
                    <div class="flex-content --disappear_medium">
                        <a href="" class="button --button_without_border">Features</a>
                        <a href="" class="button --button_without_border">About</a>
                        <a href="{{ url_for('go_hidric_cal') }}" class="button --button_without_border">Calculator</a>
                    </div>
                    <div class="flex-content --dissapear_on_mobile">
                        <a href="{{ url_for('go_login') }}" class="button --sign-buttons">Login</a>
                        <a href="{{ url_for('go_register') }}" class="button --sign-buttons --sign-button__color">Sign Up</a>
                    </div>
                </section>
            </nav>
                <!-- <div class="navbar__colormod"></div> The navbar color was changes of site--> 
        </header>
        <main>
            <div class="gradient-background">
                <section class="elipse --down"></section>
                <section class="elipse --top"></section>
                <section class="elipse --top-right"></section>
                <section class="elipse --bottom-right"></section>
                <section class="background-top"></section>
            </div>
            <aside id="sidebar"> <!-- div that contains sidebar items -->
                <section class="sidebar__container">
                    <div class="sidebar__container-top --sidebar__top-color">
                        <img src="{{ url_for('static', filename='img/Logo.png') }}" alt="logoImagen" class="logo">
                        <i role="button" class="fa-solid fa-xmark button sidebar__button --button_without_border"></i>
                    </div>
                    <div class="sidebar__container-body">
                        <a role="button" class="sidebar__button-link" href="">Features</a>
                        <a role="button" class="sidebar__button-link" href="">About</a>
                        <a role="button" class="sidebar__button-link" href="{{ url_for('go_cal_transport') }}">Carbon Calculator</a>
                        <a role="button" class="sidebar__button-link" href="{{ url_for('go_hidric_cal') }}">Hidric Calculator</a>
                    </div>
                </section>
                <section class="flex-content --sidebar-position --appear_on_mobile">
                    <a href="{{ url_for('go_login') }}" class="button">Login</a>
                    <a href="{{ url_for('go_register') }}" class="button --sign-button__color">Sign Up</a>
                </section>
            </aside>

            <main class="container">

                <section class="index_container">

                    <article class="index_content">

                        <header class="header_index">
                        <h2 class="heater_index_title">CleanLyfe functions</h2>
                        </header> 
        
                        <p class="index_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. At soluta praesentium adipisci? Doloribus eum odio in iste nemo deserunt debitis veritatis ex voluptas qui, tenetur inventore voluptates officia pariatur. Commodi.</p>

                    </article>
                    
                </section>
    
            </main>

        </main>
        <footer class="footer">
            <div class="footer__container">
                <article class="footer__content">
                    <ul class="footer__links">
                        <li><a href="" class="button --button_without_border">Features</a></li>
                        <li><a href="" class="button --button_without_border">About</a></li>
                        <li><a href="" class="button --button_without_border">Pricing</a></li>
                        <li><a href="" class="button --button_without_border">F.A.Q</a></li>
                        <li><a href="" class="button --button_without_border">Help</a></li>
                        <li><a href="" class="button --button_without_border">Contact</a></li>
                    </ul>
                    <section class="footer__copyright flex-content">
                        <i class="fa-regular fa-copyright"></i>
                        <p>2024 CleanLyfe. All rights reserved</p>
                    </section>
                </article>
            </div>
        </footer>
    </body>
    <script src="{{ url_for('static', filename='javascript/index.js') }}"></script> <!--Script to javascript functions-->
</html> 