<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--This page is going to be the people can login up with their user account-->
    <title>Login</title>
    <!--I referenced this html with the css I did for designing of the page-->
    <link rel="stylesheet" href="../static/css/style_login_register.css">
</head>
<body>
    <section class="back">
        <!--In this button the user can get back to the index page-->
        <a href="../templates/index.html">
            <input class="g_back" type="button" name="get_back" value="Take me back">
        </a>
    </section>
    <!--I did this section because I wanted to center it-->
    <section class="login">
        <!--This is the main title on the page-->
        <h5>Login</h5>
        <!--Here the user can put the name of his/her account-->
        <input class="controls" type="text" name="user_name" value="" placeholder="Username">
        <!--And here the user can put his/her password-->
        <input class="controls" type="password" name="password" value="" placeholder="Password">
        <!--With this submit the user will upload his/her data to the backend-->
        <a href="../templates/cleanlyfe.html">
            <input class="buttons" type="submit" name="Access" value="Login">
        </a>
        <!--If the user forgot the password, we will make a page for changing the password in the future-->
        <p class="bottom__buttons">
            <a href="#" class="button_forget">Did you forget your password?</a>
            <div id="register">
                <p class="register__text">Are you new?</p>
                <a class="register__link" href="../templates/register.html">Register</a>
            </div>
        </p>
    </section>
    <!--I did this section because I wanted the button to get back the people will be in the top-->
</body>
</html>