<!--Path of where is located the base html-->
{% extends 'layouts/base.html' %}

<!--template of the title of the page-->
{% block title%} Missions {% endblock%}
{%block referencee%}<a href="{{ url_for('go_cleanlyfe', id=user.0) }}" class="button --button_without_border">Home</a>{%endblock%}
{%block reference_missions%}<a href="{{ url_for('go_missions', id=user.0) }}" class="button --button_without_border">Missions</a>{%endblock%}
{%block user%}{{ user.4 }}{%endblock%}
{%block usero%}{{ user.4 }}{%endblock%}
{%block reference%}<a href="{{ url_for('go_cleanlyfe', id=user.0) }}" class="button --button_without_border">Home</a>{%endblock%}
{%block referencee_missions%}<a role="button" class="sidebar__button-link" href="{{ url_for('go_missions', id=user.0) }}">Missions</a>{%endblock%}
{%block content%}{%endblock%}


