<!--inheritance of the base html-->
{% extends 'layouts/base.html' %}

{% block content %}
    <section class="container">
        <div class="infoprofile">            
            <h6 class="infoprofile__namesection">User Profile</h6>
            <div class="profile">
                <!--This is the user's photo profile-->
                <img class="profile__imgUser" src="" alt="">
                <!--This is the username-->
                <h5 class="profile__username">Username</h5>
                <!--This is the user's points-->
                <h6 class="profile__points">Points: 99999</h6>
                <!--Here the user can change their profile photo-->
                <input class="profile__selectImg" type="file" name="select_image">
            </div>
            
        </div>         
    </section>
{% endblock %}