<!--inheritance of the base html-->
{% extends 'layouts/base.html' %}

{% block title%}Profile{% endblock%}

{% block content %}
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis itaque, sit quae tempora, provident ratione minus cum repudiandae maiores fugiat ipsum dicta. Reiciendis nihil excepturi natus magnam quis ipsa. Ipsa!
<br>
<br>
<br>
<br>
<br>
<br>
<form method="POST" action="/update_data" enctype="multipart/form-data">
    <article class="user-profile__container">
        <div class="user-profile">            
            <header class="user-profile__header">
                <h3 class="user-profile__header__namesection">User Profile</h3>
                <div class="profile">
                    <!--This is the user's photo profile-->
                    <figure>
                        {% set path = 'static/user_img/' %}
                        {% set photo = user_data.7 %}
                        {% if photo %}
                            <img class="" src="../{{ path }}{{ photo }}?v={{ random() }}" alt="{{ photo }}">
                        {% else %}
                            <img src="../static/img/User_icon.png" alt="not_image">
                        {% endif%}
                    </figure>
                    <!--This is the username-->
                    <section class="user-profile__information">
                        <!--This is the buttons-->
                        <div class="user-profile__information__buttons">
                            <!--Button to select the photo-->
                            <div>
                                <input class="user-profile__information__buttons__btn-selc-img" type="file" name="select_img">
                            </div>
                            <!--Button to delete the photo-->
                        </div>
                        <!--Here the user can change their profile photo-->                        
                    </section>
                </div>
            </header>                           
        </div>         
    </article>
    <article class="">
        <div class="user-information">
            <!--Name of the section-->
            <h3 class="namesection">USER INFORMATION</h3>
                <input class="controls" type="text" name="username" placeholder="{{ user_data.4 }}">
                {% if user_data.2 %}
                <input class="controls" type="text" name="first_name" placeholder="{{ user_data.2 }}">
                {% else %}
                <input class="controls" type="text" name="first_name" placeholder="First name">
                {% endif %}
                {% if user_data.3 %} 
                <input class="controls" type="text" name="last_name" placeholder="{{ user_data.3 }}">
                {% else %}
                <input class="controls" type="text" name="last_name" placeholder="Last name">
                {% endif %}
                <input class="controls" type="text" name="email" placeholder="{{ user_data.5 }}">
                <br>
        </div>     
    </article>
    <input type="submit">
</form>
{% endblock %}