{%extends '/layouts/base.html' %}
{% block title %} Electric calculator {% endblock %}

{%block main%}

<div id="container">

    <form id="devices_select_form">

        <header class="calculator__header">
            <i class="fa-solid fa-bolt calculator__icon --icon-lightning-1"></i>
            <h1 class="text-5xl">Electric Calculator</h1>
        </header>

        <section class="calculator__form --form-electric">

            <article class="calculator__aside">

                <header class="calculator__side-header">
                    <i class="fa-solid fa-kitchen-set calculator__side-icon"></i>
                    <h2 class="text-3xl">Kitchen</h2>
                </header>

                <section class="calculator__side-check-box">

                    <div class="calculator__question-checks">                        
                        {% for device in devices %}
                            {% if device['location'] == 'Kitchen' %}
                                <label for="device_{{ device['id'] }}">
                                    <input type="checkbox" name="device" id="device_{{ device['id'] }}" value="{{ device['id'] }}">
                                    {{ device['name'] }}
                                </label>
                            {% endif %}
                        {% endfor %}
                    </div>

                </section>

                <header class="calculator__side-header --side-header-size-energy-1">
                    <i class="fa-solid fa-couch calculator__side-icon"></i>
                    <h2 class="text-3xl">Living Room</h2>
                </header>

                <section class="calculator__side-check-box">

                    <div class="calculator__question-checks">
                        {% for device in devices %}
                            {% if device['location'] == 'Living Room' %}
                                <label for="device_{{ device['id'] }}">
                                    <input type="checkbox" name="device" id="device_{{ device['id'] }}" value="{{ device['id'] }}">
                                    {{ device['name'] }}
                                </label>
                            {% endif %}
                        {% endfor %}
                    </div>

                </section>

                <header class="calculator__side-header --side-header-size-energy-1-1">
                    <i class="fa-solid fa-bed calculator__side-icon"></i>
                    <h2 class="text-3xl">Bedroom</h2>
                </header>

                <section class="calculator__side-check-box">

                    <div class="calculator__question-checks">
                        {% for device in devices %}
                            {% if device['location'] == 'Bedroom' %}
                                <label for="device_{{ device['id'] }}">
                                    <input type="checkbox" name="device" id="device_{{ device['id'] }}" value="{{ device['id'] }}">
                                    {{ device['name'] }}
                                </label>
                            {% endif %}
                        {% endfor %}
                    </div>

                </section>

                <header class="calculator__side-header --side-header-size-energy-1-2">
                    <i class="fa-solid fa-book calculator__side-icon"></i>
                    <h2 class="text-3xl">Office / Study Room</h2>
                </header>

                <section class="calculator__side-check-box">

                    <div class="calculator__question-checks">
                        {% for device in devices %}
                            {% if device['location'] == 'Office / Study Room' %}
                                <label for="device_{{ device['id'] }}">
                                    <input type="checkbox" name="device" id="device_{{ device['id'] }}" value="{{ device['id'] }}">
                                    {{ device['name'] }}
                                </label>
                            {% endif %}
                        {% endfor %}
                    </div>

                </section>

            </article>

            <article class="calculator__aside">

                <header class="calculator__side-header --side-header-size-energy-1-1">
                    <i class="fa-solid fa-toilet calculator__side-icon"></i>
                    <h2 class="text-3xl">Bathroom</h2>
                </header>

                <section class="calculator__side-check-box">

                    <div class="calculator__question-checks">
                        {% for device in devices %}
                            {% if device['location'] == 'Bathroom' %}
                                <label for="device_{{ device['id'] }}">
                                    <input type="checkbox" name="device" id="device_{{ device['id'] }}" value="{{ device['id'] }}">
                                    {{ device['name'] }}
                                </label>
                            {% endif %}
                        {% endfor %}
                    </div>

                </section>

                <header class="calculator__side-header --side-header-size-energy-1-4">
                    <i class="fa-solid fa-jug-detergent calculator__side-icon"></i>
                    <h2 class="text-3xl">Laundry Room</h2>
                </header>

                <section class="calculator__side-check-box">

                    <div class="calculator__question-checks">
                        {% for device in devices %}
                            {% if device['location'] == 'Laundry Room' %}
                                <label for="device_{{ device['id'] }}">
                                    <input type="checkbox" name="device" id="device_{{ device['id'] }}" value="{{ device['id'] }}">
                                    {{ device['name'] }}
                                </label>
                            {% endif %}
                        {% endfor %}
                    </div>

                </section>

                <header class="calculator__side-header --side-header-size-energy-1-3">
                    <i class="fa-solid fa-mobile-screen-button calculator__side-icon"></i>
                    <h2 class="text-3xl">Mobile and portable devices</h2>
                </header>

                <section class="calculator__side-check-box --side-check-box">

                    <div class="calculator__question-checks">
                        {% for device in devices %}
                            {% if device['location'] == 'Mobile and portable devices' %}
                                <label for="device_{{ device['id'] }}">
                                    <input type="checkbox" name="device" id="device_{{ device['id'] }}" value="{{ device['id'] }}">
                                    {{ device['name'] }}
                                </label>
                            {% endif %}
                        {% endfor %}
                    </div>

                </section>

                <header class="calculator__side-header --side-header-size-energy-1-5">
                    <i class="fa-solid fa-plug calculator__side-icon"></i>
                    <h2 class="text-3xl">Others</h2>
                </header>

                <section class="calculator__side-check-box">

                    <div class="calculator__question-checks">
                        {% for device in devices %}
                            {% if device['location'] == 'Others' %}
                                <label for="device_{{ device['id'] }}">
                                    <input type="checkbox" name="device" id="device_{{ device['id'] }}" value="{{ device['id'] }}">
                                    {{ device['name'] }}
                                </label>
                            {% endif %}
                        {% endfor %}
                    </div>

                </section>

            </article>

        </section>

        <footer class="">
            <button type="submit">Continue</button>
        </footer>

    </form>

</div>

{%endblock%}

{%block scripts%}
    <script src="{{ url_for('static', filename='javascript/carbonfp_devices.js') }}"></script>
{%endblock%}