{% extends 'layouts/base.html' %}
{% block title %} Product Calculator {% endblock %}

{%block main%}
<div class="flex flex-col items-center justify-center px-5 py-7 mx-auto md:h-screen lg:p-0 text-black dark:text-white">
    <div class="w-auto h-auto p-4 rounded-lg bg-gradient-to-bl from-[#4b6d60] to-[#432672] md:space-y-6 sm:p-8">
        <form id="products_select_form" class="w-full space-y-6 md:mt-0 sm:max-w-md xl:p-0">
        <header class="flex items-center justify-center text-center gap-3">
            <i class="fa-solid fa-bolt calculator__icon --icon-lightning-1"></i>
            <h1 class="text-5xl">Products Calculator</h1>
        </header>

        <section class="flex flex-col justify-center mb-4">
            <h1>Choose the types of products purchased in the week</h1>
            <div>
                <label for="product_food">
                    <input type="checkbox" name="product" id="product_food" value="food_section" class="">Food products
                </label>
            </div>

            <div>
                <label for="product_dairies">
                    <input type="checkbox" name="product" id="product_dairies" value="dairy_section">Dairy
                </label>
            </div>

            <div>
                <label for="product_fruit">
                    <input type="checkbox" name="product" id="product_fruit" value="fruits_section">Fruits
                </label>
            </div>

            <div>
                <label for="product_clothes">
                    <input type="checkbox" name="product" id="product_clothes" value="clothes_section">Clothing
                </label>
            </div>

            <div>
                <label for="product_electrical">
                    <input type="checkbox" name="product" id="product_electrical" value="electrical_section">Electrical
                    products
                </label>
            </div>

            <div>
                <label for="product_cleaning">
                    <input type="checkbox" name="product" id="product_cleaning" value="cleaning_section">Cleaning
                    products
                </label>
            </div>
        </section>

        <footer>
            <button type="submit">Next</button>
        </footer>
    </form>

    <!-- ----------------------------------------------------------- -->

    <form id="products_info_form">
        <header class="flex items-center justify-center gap-3 bg-[#9696a3] rounded-2xl mb-10">
            <i class="fa-solid fa-bolt calculator__icon --icon-lightning-1"></i>
            <h1 class="text-3xl">Products selected</h1>
        </header>

        <!-- ----------------------------------------------------------- -->

        <section id="food_section" class="product">
            <header class="flex items-center justify-center bg-[#9696a3] rounded-2xl size-1/2">
                <i class="fa-solid fa-pizza-slice calculator__side-icon"></i>
                <h1 class="">Food products</h1>
            </header>
            <div>
                <h1>Meat transportation method</h1>
                <div>
                    <label for="meat_transport_local">
                        <input type="radio" name="meat_transport" id="meat_transport_local" value="transport_local">
                        Local
                    </label>
                    <label for="meat_transport_regional">
                        <input type="radio" name="meat_transport" id="meat_transport_regional"
                            value="transport_regional">
                        Regional
                    </label>
                    <label for="meat_transport_national">
                        <input type="radio" name="meat_transport" id="meat_transport_national"
                            value="transport_national">
                        National
                    </label>
                    <label for="meat_transport_international">
                        <input type="radio" name="meat_transport" id="meat_transport_international"
                            value="transport_international">
                        International
                    </label>
                </div>
            </div>
            <div>
                <h1>Meat packing method</h1>
                <div>
                    <label for="meat_without_packing">
                        <input type="radio" name="meat_packing" id="meat_without_packing" value="Without_packing">
                        Without packaging
                    </label>
                    <label for="meat_minimun_packing">
                        <input type="radio" name="meat_packing" id="meat_minimun_packing" value="minimun_packing">
                        Minimum packaging
                    </label>
                    <label for="meat_excessive_packing">
                        <input type="radio" name="meat_packing" id="meat_excessive_packing" value="excessive_packing">
                        Excessive packaging
                    </label>
                </div>
            </div>
            <div>
                <h1>Meat refrigeration method</h1>
                <div>
                    <label for="meat_ambient_temperature">
                        <input type="radio" name="meat_refrigeration" id="meat_ambient_temperature"
                            value="ambient_temperature">
                        Ambient temperature
                    </label>
                    <label for="meat_refrigerated">
                        <input type="radio" name="meat_refrigeration" id="meat_refrigerated" value="refrigerated">
                        Refrigerated
                    </label>
                    <label for="meat_frozen">
                        <input type="radio" name="meat_refrigeration" id="meat_frozen" value="frozen">
                        Frozen
                    </label>
                </div>
            </div>
            <div>
                <div>
                    <h3>How many kg of cow meat did you buy during the week?</h3>
                    <input type="number" placeholder="Cow meat in Kg" name="cow_meat_kg" min="0">
                </div>
                <div>
                    <h3>How many kg of pork meat did you buy during the week?</h3>
                    <input type="number" placeholder="Pork meat in Kg" name="pork_meat_kg" min="0">
                </div>
                <div>
                    <h3>How many kg of chicken meat did you buy during the week?</h3>
                    <input type="number" placeholder="Chicken meat in kg" name="chicken_meat_kg" min="0">
                </div>
            </div>
        </section>

        <!-- ----------------------------------------------------------- -->

        <section id="dairy_section" class="product">
            <header class="flex items-center justify-center gap-3 bg-[#9696a3] rounded-2xl">
                <i class="fa-solid fa-pizza-slice calculator__side-icon"></i>
                <h1 class="">Dairy products</h1>
            </header>
            <div>
                <h1>Dairy transportation method</h1>
                <div>
                    <label for="dairy_transport_local">
                        <input type="radio" name="dairy_transport" id="dairy_transport_local" value="transport_local">
                        Local
                    </label>
                    <label for="dairy_transport_regional">
                        <input type="radio" name="dairy_transport" id="dairy_transport_regional"
                            value="transport_regional">
                        Regional
                    </label>
                    <label for="dairy_transport_national">
                        <input type="radio" name="dairy_transport" id="dairy_transport_national"
                            value="transport_national">
                        National
                    </label>
                    <label for="dairy_transport_international">
                        <input type="radio" name="dairy_transport" id="dairy_transport_international"
                            value="transport_international">
                        International
                    </label>
                </div>
            </div>
            <div>
                <h1>Dairy packing method</h1>
                <div>
                    <label for="dairy_without_packing">
                        <input type="radio" name="dairy_packing" id="dairy_without_packing" value="Without_packing">
                        Without packaging
                    </label>
                    <label for="dairy_minimun_packing">
                        <input type="radio" name="dairy_packing" id="dairy_minimun_packing" value="minimun_packing">
                        Minimum packaging
                    </label>
                    <label for="dairy_excessive_packing">
                        <input type="radio" name="dairy_packing" id="dairy_excessive_packing" value="excessive_packing">
                        Excessive packaging
                    </label>
                </div>
            </div>
            <div>
                <h1>Dairy refrigeration method</h1>
                <div>
                    <label for="dairy_ambient_temperature">
                        <input type="radio" name="dairy_refrigeration" id="dairy_ambient_temperature"
                            value="ambient_temperature">
                        Ambient temperature
                    </label>
                    <label for="dairy_refrigerated">
                        <input type="radio" name="dairy_refrigeration" id="dairy_refrigerated" value="refrigerated">
                        Refrigerated
                    </label>
                    <label for="dairy_frozen">
                        <input type="radio" name="dairy_refrigeration" id="dairy_frozen" value="frozen">
                        Frozen
                    </label>
                </div>
            </div>
            <div>
                <div>
                    <h3>How many liters of milk did you buy during the week?</h3>
                    <input type="number" placeholder="Milk in liters" name="milk_liters" min="0">
                </div>
                <div>
                    <h3>How many kg of cheese did you buy during the week?</h3>
                    <input type="number" placeholder="Cheese in Kg" name="cheese_kg" min="0">
                </div>
            </div>
        </section>

        <!-- ----------------------------------------------------------- -->

        <section id="fruits_section" class="product">
            <header class="flex items-center justify-center gap-3 bg-[#9696a3] rounded-2xl">
                <i class="fa-solid fa-pizza-slice calculator__side-icon"></i>
                <h1 class="">Fruits products</h1>
            </header>
            <div>
                <h1>Fruits transportation method</h1>
                <div>
                    <label for="fruits_transport_local">
                        <input type="radio" name="fruits_transport" id="fruits_transport_local" value="transport_local">
                        Local
                    </label>
                    <label for="fruits_transport_regional">
                        <input type="radio" name="fruits_transport" id="fruits_transport_regional"
                            value="transport_regional">
                        Regional
                    </label>
                    <label for="fruits_transport_national">
                        <input type="radio" name="fruits_transport" id="fruits_transport_national"
                            value="transport_national">
                        National
                    </label>
                    <label for="fruits_transport_international">
                        <input type="radio" name="fruits_transport" id="fruits_transport_international"
                            value="transport_international">
                        International
                    </label>
                </div>
            </div>
            <div>
                <h1>Fruits packing method</h1>
                <div>
                    <label for="fruits_without_packing">
                        <input type="radio" name="fruits_packing" id="fruits_without_packing" value="Without_packing">
                        Without packaging
                    </label>
                    <label for="fruits_minimun_packing">
                        <input type="radio" name="fruits_packing" id="fruits_minimun_packing" value="minimun_packing">
                        Minimum packaging
                    </label>
                    <label for="fruits_excessive_packing">
                        <input type="radio" name="fruits_packing" id="fruits_excessive_packing"
                            value="excessive_packing">
                        Excessive packaging
                    </label>
                </div>
            </div>
            <div>
                <h1>Fruits refrigeration method</h1>
                <div>
                    <label for="fruits_ambient_temperature">
                        <input type="radio" name="fruits_refrigeration" id="fruits_ambient_temperature"
                            value="ambient_temperature">
                        Ambient temperature
                    </label>
                    <label for="fruits_refrigerated">
                        <input type="radio" name="fruits_refrigeration" id="fruits_refrigerated" value="refrigerated">
                        Refrigerated
                    </label>
                    <label for="fruits_frozen">
                        <input type="radio" name="fruits_refrigeration" id="fruits_frozen" value="frozen">
                        Frozen
                    </label>
                </div>
            </div>
            <div>
                <div>
                    <h3>How many kg from local production did you buy during the week?</h3>
                    <input type="number" placeholder="Kg" name="local_profucts_kg" min="0">
                </div>
                <div>
                    <h3>How many kg from greenhouse production did you buy during the week?</h3>
                    <input type="number" placeholder="Kg" name="greenhouse_profucts_kg" min="0">
                </div>
                <div>
                    <h3>How many kg from imported production did you buy during the week?</h3>
                    <input type="number" placeholder="Kg" name="imported_profucts_kg" min="0">
                </div>
            </div>
        </section>

        <!-- ----------------------------------------------------------- -->

        <section id="clothes_section" class="product">
            <header class="flex items-center justify-center gap-3 bg-[#9696a3] rounded-2xl">
                <i class="fa-solid fa-pizza-slice calculator__side-icon"></i>
                <h1 class="">Clothes products</h1>
            </header>
            <div>
                <h1>Clothes transportation method</h1>
                <div>
                    <label for="clothes_transport_local">
                        <input type="radio" name="clothes_transport" id="clothes_transport_local"
                            value="transport_local">
                        Local
                    </label>
                    <label for="clothes_transport_regional">
                        <input type="radio" name="clothes_transport" id="clothes_transport_regional"
                            value="transport_regional">
                        Regional
                    </label>
                    <label for="clothes_transport_national">
                        <input type="radio" name="clothes_transport" id="clothes_transport_national"
                            value="transport_national">
                        National
                    </label>
                    <label for="clothes_transport_international">
                        <input type="radio" name="clothes_transport" id="clothes_transport_international"
                            value="transport_international">
                        International
                    </label>
                </div>
            </div>
            <div>
                <h1>Clothes packing method</h1>
                <div>
                    <label for="clothes_without_packing">
                        <input type="radio" name="clothes_packing" id="clothes_without_packing" value="Without_packing">
                        Without packaging
                    </label>
                    <label for="clothes_minimun_packing">
                        <input type="radio" name="clothes_packing" id="clothes_minimun_packing" value="minimun_packing">
                        Minimum packaging
                    </label>
                    <label for="clothes_excessive_packing">
                        <input type="radio" name="clothes_packing" id="clothes_excessive_packing"
                            value="excessive_packing">
                        Excessive packaging
                    </label>
                </div>
            </div>
            <div>
                <div>
                    <h3>How many t-shirts did you buy during the week?</h3>
                    <input type="number" placeholder="Number of t-shirts" name="t-shits_quantity" min="0">
                </div>
                <div>
                    <h3>How many pants did you buy during the week?</h3>
                    <input type="number" placeholder="Number of pants" name="pants_quantity" min="0">
                </div>
                <div>
                    <h3>How many pairs of shoes did you buy during the week?</h3>
                    <input type="number" placeholder="Number of pairs of shoes" name="pair_shoes_quantity" min="0">
                </div>
            </div>
        </section>

        <!-- ----------------------------------------------------------- -->

        <section id="electrical_section" class="product">
            <header class="flex items-center justify-center gap-3 bg-[#9696a3] rounded-2xl">
                <i class="fa-solid fa-pizza-slice calculator__side-icon"></i> <!-- <-- here goes the icon-->
                <h1 class="">Electrical products</h1>
            </header>
            <div>
                <h1>Electrical products transportation method</h1>
                <div>
                    <label for="electrical_products_transport_local">
                        <input type="radio" name="electrical_products_transport"
                            id="electrical_products_transport_local" value="transport_local">
                        Local
                    </label>
                    <label for="electrical_products_transport_regional">
                        <input type="radio" name="electrical_products_transport"
                            id="electrical_products_transport_regional" value="transport_regional">
                        Regional
                    </label>
                    <label for="electrical_products_transport_national">
                        <input type="radio" name="electrical_products_transport"
                            id="electrical_products_transport_national" value="transport_national">
                        National
                    </label>
                    <label for="electrical_products_transport_international">
                        <input type="radio" name="electrical_products_transport"
                            id="electrical_products_transport_international" value="transport_international">
                        International
                    </label>
                </div>
            </div>
            <div>
                <h1>Electrical products packing method</h1>
                <div>
                    <label for="electrical_products_without_packing">
                        <input type="radio" name="electrical_packing" id="electrical_products_without_packing"
                            value="Without_packing">
                        Without packaging
                    </label>
                    <label for="electrical_products_minimun_packing">
                        <input type="radio" name="electrical_packing" id="electrical_products_minimun_packing"
                            value="minimun_packing">
                        Minimum packaging
                    </label>
                    <label for="electrical_products_excessive_packing">
                        <input type="radio" name="electrical_packing" id="electrical_products_excessive_packing"
                            value="excessive_packing">
                        Excessive packaging
                    </label>
                </div>
            </div>
            <div>
                <div>
                    <h3>How many cellphones did you buy during the week?</h3>
                    <input type="number" placeholder="Number of cellphones" name="cellphones_quantity" min="0">
                </div>
                <div>
                    <h3>How many laptops did you buy during the week?</h3>
                    <input type="number" placeholder="Number of laptops" name="laptops_quantity" min="0">
                </div>
                <div>
                    <h3>How many TVs did you buy during the week?</h3>
                    <input type="number" placeholder="Number of TVs" name="TVs_quantity" min="0">
                </div>
            </div>
        </section>

        <!-- ----------------------------------------------------------- -->

        <section id="cleaning_section" class="product">
            <header class="flex items-center justify-center gap-3 bg-[#9696a3] rounded-2xl">
                <i class="fa-solid fa-pizza-slice calculator__side-icon"></i> <!-- <-- here goes the icon-->
                <h1 class="">Cleaning products</h1>
            </header>
            <div>
                <h1>Cleaning products transportation method</h1>
                <div>
                    <label for="cleaning_products_transport_local">
                        <input type="radio" name="cleaning_products_transport"
                            id="cleaning_products_transport_local" value="transport_local">
                        Local
                    </label>
                    <label for="cleaning_products_transport_regional">
                        <input type="radio" name="cleaning_products_transport"
                            id=cleaningl_products_transport_regional" value="transport_regional">
                        Regional
                    </label>
                    <label for="cleaning_products_transport_national">
                        <input type="radio" name="cleaning_products_transport"
                            id="cleaning_products_transport_national" value="transport_national">
                        National
                    </label>
                    <label for="cleaning_products_transport_international">
                        <input type="radio" name="cleaning_products_transport"
                            id="cleaning_products_transport_international" value="transport_international">
                        International
                    </label>
                </div>
            </div>
            <div>
                <h1>Electrical products packing method</h1>
                <div>
                    <label for="cleaning_products_without_packing">
                        <input type="radio" name="cleaning_packing" id="cleaning_products_without_packing"
                            value="Without_packing">
                        Without packaging
                    </label>
                    <label for="cleaning_products_minimun_packing">
                        <input type="radio" name="cleaning_packing" id="cleaning_products_minimun_packing"
                            value="minimun_packing">
                        Minimum packaging
                    </label>
                    <label for="cleaning_products_excessive_packing">
                        <input type="radio" name="cleaning_packing" id="cleaning_products_excessive_packing"
                            value="excessive_packing">
                        Excessive packaging
                    </label>
                </div>
            </div>
            <div>
                <div>
                    <h3>How many liters of detergent did you buy during the week?</h3>
                    <input type="number" placeholder="Detergent in liters" name="detergent_liters" min="0">
                </div>
                <div>
                    <h3>How many liters of softener did you buy during the week?</h3>
                    <input type="number" placeholder="Softener in liters" name="softener_liters" min="0">
                </div>
                <div>
                    <h3>How many liters of all purpose did you buy during the week?</h3>
                    <input type="number" placeholder="Al purpose in liters" name="all_purpose_liters" min="0">
                </div>
            </div>
        </section>

        <footer id="finish_btn" hidden="true">
            <button type="submit">Finish</button>
        </footer>
        
    </form>

    <div id="navigation_btns" hidden="true">
        <button id="preview_btn">Preview</button>
        <button id="next_btn">Next</button>
    </div>
    </div>
</div>
{%endblock%}

{%block scripts%}
<script src="{{ url_for('static', filename='javascript/carbonfp-products.js') }}"></script>
{%endblock%}