{%extends '/layouts/base.html' %}
{% block title %} Electric calculator {% endblock %}

{%block main%}

<div id="container" class="w-auto h-auto text-white">

    <div class="flex space-x-4 items-center justify-center py-4">
        <button id="btnBasic" class="text-white bg-[#238c80] hover:bg-[#238c80] focus:ring-4 focus:outline-none focus:ring-[#238c80] font-medium rounded-lg text-sm w-full sm:w-auto px-2 py-2.5 text-center hover:scale-105 hover:transition-transform" onclick="show_form('basic_calculation')">Basic calculator</button>
        <button id="btnAccurate" class="text-white bg-[#238c80] hover:bg-[#238c80] focus:ring-4 focus:outline-none focus:ring-[#238c80] font-medium rounded-lg text-sm w-full sm:w-auto px-2 py-2.5 text-center hover:scale-105 hover:transition-transform" onclick="show_form('accurate_calculation')">Acurrate calculator</button>
    </div>

    <div id="basic_calculation" class="size-1/2 sm:p-8 mx-auto ">
        <form id="basic_calculation" class="">
            <div class="flex flex-col h-auto p-2 items-center rounded-lg bg-gradient-to-bl from-[#4b6d60] to-[#432672] md:space-y-6 sm:p-8">
                <h3 class="text-xl">How much electricity was consumed during the week?</h3>
                <input type="hidden" name="type_calculation" value="basic_calculation">
                <input type="number" name="electricity_consumption" placeholder="Kw" min="1" class="bg-[#9696a3] rounded" required>
                <footer class="">
                    <button type="submit" class="text-white bg-[#238c80] hover:bg-[#238c80] focus:ring-4 focus:outline-none focus:ring-[#238c80] font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center hover:scale-105 hover:transition-transform">Continue</button>
                </footer>
            </div>
        </form>
    </div>

    <div id="accurate_calculation" class="size-1/2 p-4 mx-auto rounded-lg bg-gradient-to-bl from-[#4b6d60] to-[#432672] md:space-y-6 sm:p-8">
        <form id="devices_select_form" class="flex flex-col justify-center items-center">
            <header class="flex items-center justify-center gap-3 bg-[#9696a3] rounded-2xl mb-4 p-1">
                <i class="fa-solid fa-bolt calculator__icon --icon-lightning-1"></i>
                <h1 class="text-xl">Electric Calculator</h1>
            </header>
            <section class="">
                <article class="">
                    <header class="flex items-center justify-center p-1 gap-3 mb-4">
                        <i class="fa-solid fa-kitchen-set calculator__side-icon"></i>
                        <h2 class="text-xl">Kitchen</h2>
                    </header>

                    <section class="">
                        <div class="">
                            {% for device in devices %}
                            {% if device['location'] == 'Kitchen' %}
                            <label for="device_{{ device['id'] }}">
                                <input type="checkbox" name="device" id="device_{{ device['id'] }}"
                                    value="{{ device['id'] }}">
                                {{ device['name'] }}
                            </label>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </section>
                    <header class="flex items-center justify-center p-1 gap-3 mb-4">
                        <i class="fa-solid fa-couch calculator__side-icon"></i>
                        <h2 class="text-xl">Living Room</h2>
                    </header>
                    <section class="">
                        <div class="">
                            {% for device in devices %}
                            {% if device['location'] == 'Living Room' %}
                            <label for="device_{{ device['id'] }}">
                                <input type="checkbox" name="device" id="device_{{ device['id'] }}"
                                    value="{{ device['id'] }}">
                                {{ device['name'] }}
                            </label>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </section>
                    <header class="flex items-center justify-center p-1 gap-3 mb-4">
                        <i class="fa-solid fa-bed calculator__side-icon"></i>
                        <h2 class="text-xl">Bedroom</h2>
                    </header>
                    <section class="">
                        <div class="">
                            {% for device in devices %}
                            {% if device['location'] == 'Bedroom' %}
                            <label for="device_{{ device['id'] }}">
                                <input type="checkbox" name="device" id="device_{{ device['id'] }}"
                                    value="{{ device['id'] }}">
                                {{ device['name'] }}
                            </label>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </section>
                    <header class="flex items-center justify-center p-1 gap-3 mb-4">
                        <i class="fa-solid fa-book calculator__side-icon"></i>
                        <h2 class="text-xl">Office / Study Room</h2>
                    </header>
                    <section class="">
                        <div class="">
                            {% for device in devices %}
                            {% if device['location'] == 'Office / Study Room' %}
                            <label for="device_{{ device['id'] }}">
                                <input type="checkbox" name="device" id="device_{{ device['id'] }}"
                                    value="{{ device['id'] }}">
                                {{ device['name'] }}
                            </label>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </section>
                </article>
                <article class="">
                    <header class="flex items-center justify-center p-1 gap-3 mb-4">
                        <i class="fa-solid fa-toilet calculator__side-icon"></i>
                        <h2 class="text-xl">Bathroom</h2>
                    </header>
                    <section class="">
                        <div class="">
                            {% for device in devices %}
                            {% if device['location'] == 'Bathroom' %}
                            <label for="device_{{ device['id'] }}">
                                <input type="checkbox" name="device" id="device_{{ device['id'] }}"
                                    value="{{ device['id'] }}">
                                {{ device['name'] }}
                            </label>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </section>
                    <header class="flex items-center justify-center p-1 gap-3 mb-4">
                        <i class="fa-solid fa-jug-detergent calculator__side-icon"></i>
                        <h2 class="text-xl">Laundry Room</h2>
                    </header>
                    <section class="">
                        <div class="">
                            {% for device in devices %}
                            {% if device['location'] == 'Laundry Room' %}
                            <label for="device_{{ device['id'] }}">
                                <input type="checkbox" name="device" id="device_{{ device['id'] }}"
                                    value="{{ device['id'] }}">
                                {{ device['name'] }}
                            </label>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </section>
                    <header class="flex items-center justify-center p-1 gap-3 mb-4">
                        <i class="fa-solid fa-mobile-screen-button calculator__side-icon"></i>
                        <h2 class="text-xl">Mobile and portable devices</h2>
                    </header>
                    <section class="">
                        <div class="">
                            {% for device in devices %}
                            {% if device['location'] == 'Mobile and portable devices' %}
                            <label for="device_{{ device['id'] }}">
                                <input type="checkbox" name="device" id="device_{{ device['id'] }}"
                                    value="{{ device['id'] }}">
                                {{ device['name'] }}
                            </label>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </section>
                    <header class="flex items-center justify-center p-1 gap-3 mb-4">
                        <i class="fa-solid fa-plug calculator__side-icon"></i>
                        <h2 class="text-xl">Others</h2>
                    </header>
                    <section class="">
                        <div class="">
                            {% for device in devices %}
                            {% if device['location'] == 'Others' %}
                            <label for="device_{{ device['id'] }}">
                                <input type="checkbox" name="device" id="device_{{ device['id'] }}"
                                    value="{{ device['id'] }}">
                                {{ device['name'] }}
                            </label>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </section>
                </article>
            </section>
            <footer class="">
                <button type="submit" class="text-white bg-[#238c80] hover:bg-[#238c80] focus:ring-4 focus:outline-none focus:ring-[#238c80] font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center hover:scale-105 hover:transition-transform">Continue</button>
            </footer>
        </form>
    </div>

</div>

{%endblock%}

{%block scripts%}
<script src="{{ url_for('static', filename='javascript/carbonfp_devices.js') }}"></script>
{%endblock%}