{%extends '/layouts/base.html' %} {% block title %} Electric calculator {% endblock %} {%block navbar%}
<button id="logout" class="text-white bg-red-700 hover:bg-red-700 text-xl text-center rounded-3xl px-2 py-2 font-bold hover:scale-105 hover:transition-transform">Log out</button>
{%endblock%} {% block sidebar %}
<a href="" class="logout flex items-center p-2 gap-2 text-base font-medium text-gray-900 rounded-lg transition duration-75 hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-red-500 group">
  <i class="fa-solid fa-right-to-bracket w-6 h-6 text-xl text-center pt-1"></i>
  <span class="">Log out</span>
</a>
{% endblock %} {%block main%}
<div class="flex justify-center min-h-screen p-4">
  <div id="container" class="w-fit items-center px-4 py-8 text-black dark:text-white bg-gray-50 dark:bg-gray-900">
    <section id="container" class="mx-auto space-y-8">
      <header class="flex items-center justify-center text-center gap-3">
        <i class="fa-solid fa-bolt text-4xl sm:text-5xl"></i>
        <h1 class="text-3xl sm:text-5xl font-bold">Electricity Calculator</h1>
      </header>

      <div class="p-4 space-y-6">
        <div class="flex flex-col sm:flex-row justify-center items-center gap-4">
          <button
            id="btnBasic"
            class="text-white bg-[#238c80] hover:bg-[#1f756e] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-4 py-2 text-center hover:scale-105 transition"
            onclick="show_form('basic_calculation')"
          >
            Basic Calculator
          </button>
          <button
            id="btnAccurate"
            class="text-white bg-[#238c80] hover:bg-[#1f756e] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-4 py-2 text-center hover:scale-105 transition"
            onclick="show_form('accurate_calculation')"
          >
            Accurate Calculator
          </button>
        </div>

        <div id="basic_calculation" class="mt-6" hidden>
          <form class="space-y-6">
            <header class="flex items-center justify-center gap-3 bg-[#9696a3] rounded-2xl p-3">
              <i class="fa-solid fa-plug"></i>
              <h2 class="text-2xl">Basic Calculation</h2>
            </header>

            <input type="hidden" name="type_calculation" value="basic_calculation" />

            <section>
              <label for="electricity_consumption" class="block mb-2 text-lg font-medium"> How much electricity was consumed during the week? </label>
              <input type="number" name="electricity_consumption" id="electricity_consumption" placeholder="Kw" min="1" class="w-full p-2 text-black bg-[#9696a3] rounded shadow" required />
            </section>

            <footer class="text-center">
              <button
                type="submit"
                class="text-white bg-[#238c80] hover:bg-[#1f756e] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center hover:scale-105 transition"
              >
                Continue
              </button>
            </footer>
          </form>
        </div>

        <div id="accurate_calculation" class="mt-6 bg-gray-100 dark:bg-gray-900 p-4" hidden>
          <form id="devices_select_form" class="space-y-6">
            <header class="flex items-center justify-center gap-3 bg-[#9696a3] rounded-2xl p-3">
              <i class="fa-solid fa-bolt"></i>
              <h2 class="text-2xl">Accurate Calculation</h2>
            </header>

            <p class="text-base text-center">Select the devices you use in your home, then click 'Continue'.</p>

            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
              {% set zones = ['Kitchen', 'Living Room', 'Bedroom', 'Office / Study Room', 'Bathroom', 'Laundry Room', 'Mobile and portable devices', 'Others'] %} {% for zone in zones %}
              <section class="bg-gray-200 dark:bg-gray-800 p-4 rounded-lg">
                <header class="mb-4 flex gap-2 items-center">
                  <i
                    class="fa-solid {% if zone == 'Kitchen' %}fa-kitchen-set {% elif zone == 'Living Room' %}fa-couch {% elif zone == 'Bedroom' %}fa-bed {% elif zone == 'Office / Study Room' %}fa-briefcase {% elif zone == 'Bathroom' %}fa-bath {% elif zone == 'Laundry Room' %}fa-washing-machine {% elif zone == 'Mobile and portable devices' %}fa-mobile {% else %}fa-plug{% endif %}"
                  ></i>
                  <h3 class="text-lg font-semibold">{{ zone }}</h3>
                </header>
                <div class="space-y-2">
                  {% for device in devices %} {% if device.deviceZone == zone %}
                  <label class="flex items-center gap-2">
                    <input type="checkbox" name="selected_devices" value="{{ device.id }}" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded" />
                    <span class="text-sm font-medium">{{ device.deviceName }}</span>
                  </label>
                  {% endif %} {% endfor %}
                </div>
              </section>
              {% endfor %}
            </div>

            <footer class="text-center space-x-4">
              <button
                id="continue-btn"
                type="button"
                class="text-white bg-[#238c80] hover:bg-[#1f756e] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 hover:scale-105 transition"
              >
                Continue
              </button>
              <button
                id="calculate-btn"
                type="submit"
                class="hidden text-white bg-[#238c80] hover:bg-[#1f756e] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 hover:scale-105 transition"
              >
                Calculate Carbon Footprint
              </button>
            </footer>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>

{%endblock%} {%block scripts%}
<script src="{{ url_for('static', filename='javascript/carbonfp-energy.js') }}"></script>
{%endblock%}
