{%extends 'layouts/base.html' %} {% block title %}Transport calculator{% endblock title %} {%block navbar%}
<button
  type="button"
  class="flex mx-3 cursor-pointer text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600 hover:scale-105 hover:transition-transform"
  id="user-menu-button"
  aria-expanded="false"
  data-dropdown-toggle="dropdown">
  <span class="sr-only">Open user menu</span>
  <img class="w-8 h-8 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/michael-gough.png" alt="user photo" />
</button>
<!-- Dropdown menu -->
<div class="hidden z-50 my-4 w-56 text-base list-none bg-white divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600 rounded-xl" id="dropdown">
  <div class="py-3 px-4">
    <span class="block text-sm font-semibold text-gray-900 dark:text-white">{{ user["username"] }}</span>
    <span class="block text-sm text-gray-900 truncate dark:text-white">{{ user["email"] }}</span>
  </div>
  <ul class="py-1 text-gray-700 dark:text-gray-300" aria-labelledby="dropdown">
    <li>
      <a href="#" class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white">My profile</a>
    </li>
    <li>
      <a href="#" class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white">Account settings</a>
    </li>
  </ul>
  <ul class="py-1 text-gray-700 dark:text-gray-300" aria-labelledby="dropdown">
    <li>
      <a href="#" class="flex items-center py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
        ><svg class="mr-2 w-5 h-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd"></path>
        </svg>
        My likes</a
      >
    </li>
    <li>
      <a href="#" class="flex items-center py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
        ><svg class="mr-2 w-5 h-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z"></path>
        </svg>
        Collections</a
      >
    </li>
    <li>
      <a href="#" class="flex justify-between items-center py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
        <span class="flex items-center">
          <svg aria-hidden="true" class="mr-2 w-5 h-5 text-primary-600 dark:text-primary-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path
              fill-rule="evenodd"
              d="M12.395 2.553a1 1 0 00-1.45-.385c-.345.23-.614.558-.822.88-.214.33-.403.713-.57 1.116-.334.804-.614 1.768-.84 2.734a31.365 31.365 0 00-.613 3.58 2.64 2.64 0 01-.945-1.067c-.328-.68-.398-1.534-.398-2.654A1 1 0 005.05 6.05 6.981 6.981 0 003 11a7 7 0 1011.95-4.95c-.592-.591-.98-.985-1.348-1.467-.363-.476-.724-1.063-1.207-2.03zM12.12 15.12A3 3 0 017 13s.879.5 2.5.5c0-1 .5-4 1.25-4.5.5 1 .786 1.293 1.371 1.879A2.99 2.99 0 0113 13a2.99 2.99 0 01-.879 2.121z"
              clip-rule="evenodd"></path>
          </svg>
          Pro version
        </span>
        <svg aria-hidden="true" class="w-5 h-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
        </svg>
      </a>
    </li>
  </ul>
  <ul class="py-1 text-gray-700 dark:text-gray-300" aria-labelledby="dropdown">
    <li>
      <a href="#" class="logout block pt-2 pb-1 px-4 text-sm text-red-500 hover:bg-gray-100 dark:hover:bg-gray-600 rounded-b-lg">Log out</a>
    </li>
  </ul>
</div>
{%endblock%} {% block sidebar %}
<a href="" class="logout flex items-center p-2 gap-2 text-base font-medium text-gray-900 rounded-lg transition duration-75 hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-red-500 group">
  <i class="fa-solid fa-right-to-bracket w-6 h-6 text-xl text-center pt-1"></i>
  <span class="">Log out</span>
</a>
{% endblock %} {%block main%}
    <section id="container" class="">
        <div class="flex flex-col items-center justify-center pb-8 mx-auto min-h-screen max-w-md lg:p-0 text-black dark:text-white">
            <div class="w-full space-y-8 md:mt-0 sm:max-w-md xl:p-0">
                <header class="flex items-center justify-center text-center gap-3">
                    <i class="fa-solid fa-car" ></i>
                    <h1 class="text-5xl text-center">Transport calculator</h1>
                </header>
                <div class="pb-4 rounded-lg bg-gray-50 dark:bg-gray-900 md:space-y-6 sm:p-8">
                    <form id="form_carbonfp_transport" class="space-y-6">
                        <header class="flex items-center justify-center gap-3 bg-[#9696a3] rounded-2xl">
                            <i class="fa-solid fa-car-side"></i> 
                            <h2 class="text-2xl">Transport</h2>
                        </header>
                        <div class="p-2">
                            <article class="">
                                <section class="mb-4">
                                    <label class="block mb-2 text-lg font-medium text-gray-900 dark:text-white" for="fuel">What type of fuel does your vehicle use?</label>
                                    <div class="text-sm space-x-6 w-fit" id="fuel">
                                        <label for="fuel_type-1" class="">
                                            <input class="accent-[#238c80]" type="radio" name="fuel_type" id="fuel_type-1" value="Gas" required>
                                            Gas
                                        </label>
                                        <label for="fuel_type-2" class="">
                                            <input class="accent-[#238c80]" type="radio" name="fuel_type" id="fuel_type-2" value="Diesel">
                                            Diesel
                                        </label>
                                        <label for="fuel_type-3" class="">
                                            <input class="accent-[#238c80]" type="radio" name="fuel_type" id="fuel_type-3" value="GNV">
                                            GNV
                                        </label>
                                        <label for="fuel_type-4" class="">
                                            <input class="accent-[#238c80]" type="radio" name="fuel_type" id="fuel_type-4" value="Electric">
                                            Electric
                                        </label>
                                    </div>
                                </section>
                                <section class="mb-4">
                                    <label class="block mb-2 text-lg font-medium text-gray-900 dark:text-white" for="cylinders_count">How many cylinders does your vehicle have?</label>
                                    <select class="text-xl text-black bg-[#9696a3] rounded shadow-lg" name="cylinders_count" id="cylinders_count" required>                                        
                                        {% for i in range(1, 11) %}
                                            <option class="dark:bg-white" value="{{ i }}">{{ i }} cylinders</option>
                                        {% endfor %}
                                    </select>
                                </section>
                                <section class="mb-4">
                                    <label class="block mb-2 text-lg font-medium text-gray-900 dark:text-white" for="vehicule_old">What year is your vehicle?</label>
                                    <select class="text-xl text-black bg-[#9696a3] rounded shadow-lg" name="vehicule_old" id="vehicule_old" required>
                                        {% for i in range(2026, 1949, -1) %}
                                            <option class="dark:bg-white" value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </section>
                            </article>
                            <article class="mb-4 space-y-4">
                                <section class="">
                                    <label class="block mb-2 text-lg font-medium text-gray-900 dark:text-white" for="distance_traveled">How many kilometers did you drive??</label>
                                    <input type="number" name="distance_traveled" id="distance_traveled" placeholder="Distance in Km" min="0" class="text-md text-black bg-[#9696a3] rounded shadow-lg size-9/12" required>
                                </section>
                                <section class="">
                                    <label class="block mb-2 text-lg font-medium text-gray-900 dark:text-white" id="consumed_fuel">How much fuel did you consume?</label>
                                    <input type="number" name="consumed_fuel" id="consumed_fuel" placeholder="Fuel in liters" min="0" class="text-xl text-black bg-[#9696a3] rounded shadow-lg size-9/12" required>
                                </section>
                            </article>
                        </div>
                        <footer class="flex justify-center">
                            <button type="submit" class="text-white bg-[#238c80] hover:bg-[#238c80] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-auto md:w-8/12 px-5 py-2.5 text-center hover:scale-105 hover:transition-transform">Continue</button>
                        </footer>
                    </form>
                </div>
              </section>
        </div>
    </section>
        
{%endblock%} {%block scripts%}
<script src="{{ url_for('static', filename='javascript/carbonfp-transport.js') }}"></script>
{%endblock%}
