{%extends 'layouts/base.html' %} {%block title%}Cleanlyfe{%endblock%} {%block header%}
<button id="logout" class="text-white bg-red-700 hover:bg-red-700 text-xl text-center rounded-3xl px-2 py-2 font-bold hover:scale-105 hover:transition-transform">Log out</button>
{%endblock%} {%block main%}
<section class="">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0 text-black dark:text-white">
    <div class="flex space-x-4">
      <button class="text-white bg-[#20b9a7] hover:bg-[#20b9a7] ring-2 ring-[#20b9a7] text-xl text-center rounded-3xl px-2 py-2 font-bold hover:scale-105 hover:transition-transform">
        <a href="/carbonfp/transport">Go transport footprint</a>
      </button>
      <button class="text-white bg-[#20b9a7] hover:bg-[#20b9a7] ring-2 ring-[#20b9a7] text-xl text-center rounded-3xl px-2 py-2 font-bold hover:scale-105 hover:transition-transform">
        <a href="/hidricfp">Go hidric footprint</a>
      </button>
    </div>
  </div>
</section>
{%endblock%} {%block scripts%}
<script src="{{ url_for('static', filename='javascript/authentication.js') }}"></script>
{%endblock%}
