{%extends 'layouts/base.html' %} {%block title%}Cleanlyfe{%endblock%} {% block navbar %}
  
<div class="gap-4 hidden sm:flex">
  
  <a href="{{ url_for('auth_views.login') }}">
    <button
      type="button"
      class="text-white bg-green-500 hover:bg-green-800 hover:scale-105 transition-transform duration-300 focus:outline-none focus:ring-4 focus:ring-green-300 font-bold rounded-full text-sm px-5 py-2 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 cursor-pointer">
      Log in
    </button>
  </a>
  
  <a href="{{ url_for('auth_views.sign_up') }}">
    <button
      type="button"
      class="border focus:outline-none hover:scale-105 transition-transform duration-300 focus:ring-4 font-bold rounded-full text-sm px-5 py-2 bg-gray-800 text-white border-gray-600 hover:bg-gray-700 hover:border-gray-600 focus:ring-gray-700 cursor-pointer">
      Sign up
    </button>
  </a>
</div>

{% endblock %} {%block main%}
<section id="container" class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0 gap-6">
  <img class="size-32" src="{{ url_for('static', filename='img/favicon.ico') }}" alt="" />

  <div>
    <h1 class="text-5xl bg-gradient-to-r from-green-500 to-sky-500 bg-clip-text font-extrabold text-transparent text-center py-3">Welcome to Cleanlyfe, transform your habits, save the planet</h1>
  </div>

  <div class="px-3">
    <p class="text-2xl text-black mt-4 text-center dark:text-white">
      Cleanlyfe analyzes your lifestyle to help you understand the impact you have on the environment through dynamic surveys, we collect information about your energy consumption, transportation,
      food and more. We then show you your ecological footprint in interactive, visual dashboards, where you can explore each category, discover patterns and make more sustainable decisions based on
      your own data.
    </p>
  </div>
</section>

{%endblock%}
