<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <title>Document</title>
    
</head>
<body>
    <header class="bg-gradient-to-r from-green-500 to-sky-500 text-white py-5 px-5 gap-3 w-screen h-20 flex items-center">
        <div>
            <a href="">
                <img class="size-15" src="{{ url_for('static', filename='img/favicon.ico') }}" alt="Cleanlyfe logo">
            </a>
            
        </div>
        <div class="text-4xl font-bold">
            <h1>Cleanlyfe</h1>
        </div>
    </header>

    <main>
        <div class="container grid-cols-4 bg-amber-100 gap-4">
            <div>
                <h1 class="text-5xl text-cyan-500">Monitorea tu huella</h1>
                <p class="text-3xl text-black">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis, molestiae quisquam adipisci aliquam nihil rerum accusamus accusantium dolorum, laudantium voluptatum rem veniam delectus esse minima tempora voluptatibus deserunt nam ad?</p>
            </div>
            <div class="bg-amber-600">2</div>
        </div>
    </main>

    <footer>

    </footer>
</body>
</html>