{%extends 'layouts/base_wm.html' %} {% block title %} WorldMatters {% endblock %} {% block navbar %}

<div class="gap-4 hidden sm:flex">
  <!-- BOTON LOG IN -->
  <a href="{{ url_for('auth_views.login') }}">
    <button
      type="button"
      class="text-white bg-green-500 hover:bg-green-800 hover:scale-105 transition-transform duration-300 focus:outline-none focus:ring-4 focus:ring-green-300 font-bold rounded-full text-sm px-5 py-2 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 cursor-pointer">
      Log in
    </button>
  </a>
  <!-- BOTON SING UP -->
  <a href="{{ url_for('auth_views.sign_up') }}">
    <button
      type="button"
      class="border focus:outline-none hover:scale-105 transition-transform duration-300 focus:ring-4 font-bold rounded-full text-sm px-5 py-2 bg-gray-800 text-white border-gray-600 hover:bg-gray-700 hover:border-gray-600 focus:ring-gray-700 cursor-pointer">
      Sign up
    </button>
  </a>
</div>

{% endblock %} {%block main%}

<div class="px-4 py-4">
  <!-- Imagen de portada -->
  <header class="w-full mb-8">
    <img src="../static/img/portada_worldmatters.webp" alt="Our products" class="w-full h-48 sm:h-56 md:h-64 lg:h-80 xl:h-96 2xl:h-[28rem] object-cover rounded-lg shadow-lg" />
  </header>

  <section class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <!-- Título de la sección -->
    <h1 class="text-3xl font-bold text-center mb-6" id="title">Nuestros productos</h1>
    <!-- Descripción de la sección -->
    <p class="text-center text-xl mb-8 text-balance px-2 sm:px-10" id="text">
      En WorldMatters, ofrecemos una variedad de productos diseñados para mejorar tu bienestar y el del planeta. Con aplicaciones para monitoriar la huella de carbono que generas y un producto que te
      ayuda a cuidar el agua mediante un llave remota.
    </p>
  </section>

  <div class="grid grid-cols-1 md:grid-cols-2 max-w-3xl mx-auto py-6 place-items-center gap-12">
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-lg hover:scale-105 transition-transform duration-300">
      <a href="/home">
        <img class="rounded-t-lg" src="../static/img/CleanLyfe.webp" alt="CleanLyfe" />
      </a>
      <div class="p-5">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-black">CleanLyfe</h5>
        <p class="mb-3 font-normal text-black text-balance">CleanLyfe es una aplicacion que ayuda a gestionar mejor la huella de carbono de cada uno y ver todas las estadisticas.</p>
        <a
          href="/home"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-cente text-white bg-green-600 rounded-lg hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-700 hover:scale-105 transition-transform duration-300">
          Read more
          <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
          </svg>
        </a>
      </div>
    </div>
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-lg hover:scale-105 transition-transform duration-300">
      <a href="/waterflow">
        <img class="rounded-t-lg" src="../static/img/WaterFlow.webp" alt="CleanLyfe" />
      </a>
      <div class="p-5">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-black">WaterFlow</h5>
        <p class="mb-3 font-normal text-black text-balance">Es un producto que se puede cerrar de manera remota por medio de una aplicacion web o movil.</p>
        <a
          href="/waterflow"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-green-600 rounded-lg hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-700 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-700 hover:scale-105 transition-transform duration-300">
          Read more
          <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
{%endblock%}
